.venv
.env
db.sqlite3
metrics/__pycache__/
users/__pycache__/
users/migrations/__pycache__/
osteo/__pycache__/
osteo/migrations/__pycache__/
users/data/__pycache__/
users/data/__pycache__/*
fms/migrations/__pycache__/
fms/__pycache__/
neuro/migrations/__pycache__/
neuro/__pycache__/
bilateral/__pycache__/
fat/__pycache__/
fat/migrations/__pycache__/
bilateral/migrations/__pycache__/
profile_fv/__pycache__/
profile_fv/migrations/__pycache__/
db
._db
metrics/settings/__pycache__/*
media
