.venv
.env
.env.prod
db.sqlite3
metrics/__pycache__/
users/__pycache__/
users/migrations/*
osteo/__pycache__/
osteo/migrations/*
users/data/__pycache__/
users/data/__pycache__/*
fms/migrations/*
fms/__pycache__/
neuro/migrations/*
neuro/__pycache__/
bilateral/__pycache__/
fat/__pycache__/
fat/migrations/*
bilateral/migrations/*
profile_fv/__pycache__/
profile_fv/migrations/*
db
._db
metrics/settings/__pycache__/*
media
certbot
logs
tmp