/* General */
.navbar-transparent {
  padding-top: 0 !important;
}

.bg-gray-200 {
  background-color: #f0f2f5 !important;
} 

.navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.navbar-toggler-icon.icon-bar {
  color: #fff !important;
}

.navbar-toggler:focus .navbar-toggler-icon.icon-bar {
  background-color: #da682c;
}

/* Profile */
.picture {
  width: 100px;
  position: relative;
  margin-bottom: 20px;
}

.picture img {
  width: 100%;
  border-radius: 10px;
}

.picture a {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  color: #fff;
  background: #da682c;
  border-radius: 100%;
}

/* Login styles */
.auth {
  background: #2f3a48 url('../img/login_bg.jpg');
}

.login.card .card-header {
  margin-top: -60px;
}


/* Form error msg */
.msg {
  width: 100%;
}

/* Sign up */
.card.signup {
  max-width: 600px;
}

/* User tabs */
.card.user .nav-pills .nav-link {
  color: #2f3a48;
}
.card.user .nav-pills .nav-link.active {
  background: #da682c;
  color: #fff;
}


/* Custom tables */
.card tbody a, .card tbody p {
    color: #2f3a48;
}

.card tbody a:hover {
    color: #da682c;
}
.table.user_info_table th {
  font-size: 14px;
}

.table.user_info_table td,
.table.user_info_table th {
  text-align: center;
}

/* osteo */
.osteo_bg_NR {
  background: green !important;
}

.osteo_bg_L {
  background: yellow !important;
}

.osteo_bg_M {
  background: orange !important;
}

.osteo_bg_S {
  background: red !important;
}

.badge-secondary-2 {
  background-color: rgb(216, 216, 216);
}

.badge-warning-2 {
  background-color: orange;
}

.card .title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.card .badge {  
    position: relative;
    color: #2f3a48;
    top: -3px;
    margin-left: 5px;
    padding: 5px;
    transition: all 0.2s;
}

.card .badge:hover,
.card .badge:focus {  
    color: #da682c;
}


.card ul {
    margin-bottom: 20px;
}

/* Loader */
.loader {
  position: absolute;
  z-index: 0;
}

.loader span {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.lds-ripple {
  position: relative;
  display: block;
  margin: auto;
  width: 70px;
  height: 70px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #da682c;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1.8s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* Graph styles */
.graph_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 300px;
  width: 100%;
}

.graph_inner {
  width: 100%;
  background: #fff;
  z-index: 1;
}

/* Material inputs */

.input-group .form-label {
    position: absolute;
    margin-left: 0px;
    transition: 0.2s ease all;
    display: flex;
    line-height: 3.525 !important;
    top: -0.375rem;
    margin-bottom: 0;
}

.input-group .form-control {
    background: none;
    border: 1px solid #d2d6da;
    border-radius: 0.375rem;
    border-top-left-radius: 0.375rem !important;
    border-bottom-left-radius: 0.375rem !important;
    padding: 0.625rem 0.75rem !important;
    line-height: 1.3 !important;
}

.input-group.alert_field .form-label+.form-control {
  border-color: #da682c !important;
  border-top-color: transparent !important;
  box-shadow: inset 1px 0 #da682c, inset -1px 0 #da682c, inset 0 -1px #da682c !important;
}  

.input-group.is-focused .form-label+.form-control,
.input-group.is-filled .form-label+.form-control {
  border-color: #2f3a48;
  border-top-color: transparent;
  box-shadow: inset 1px 0 #2f3a48, inset -1px 0 #2f3a48, inset 0 -1px #2f3a48;
}       

.input-group.is-upper .form-label+.form-control {
    border-top-color: transparent !important;
  }

.input-group.is-upper .form-label {
  width: 100%;
  height: 100%;
  font-size: 0.6875rem !important;
  display: flex;
  line-height: 1.25 !important;
}

.input-group.is-upper .form-label:after {
  opacity: 1;
  border-top-color: #d2d6da;
}

.input-group.alert_field .form-label {
  color: #da682c !important;
}

.input-group.is-focused .form-label,
.input-group.is-filled .form-label {
  width: 100%;
  height: 100%;
  font-size: 0.6875rem !important;
  color: #2f3a48;
  display: flex;
  line-height: 1.25 !important;
}

.input-group .form-label:before,
.input-group .form-label:after {
    content: "";
    border-top: solid 1px;
    border-top-color: #d2d6da;
    pointer-events: none;
    margin-top: 0.375rem;
    box-sizing: border-box;
    display: block;
    height: 0.5rem;
    width: 0.625rem;
    border-width: 1px 0 0;
    border-color: transparent;
}

  
.input-group .form-label:after {
    content: "";
    flex-grow: 1;
    margin-left: 10px;
    border-right: solid 1px transparent;
    border-radius: 0 5px;
}

.input-group.alert_field .form-label:after {
  border-top-color: #da682c !important;
  box-shadow: inset 0 1px #da682c !important;
}

.input-group.is-focused .form-label:after,
.input-group.is-filled .form-label:after {
  opacity: 1;
  border-top-color: #2f3a48;
  box-shadow: inset 0 1px #2f3a48;
}



/* footer */
footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-left: -15px;
    font-size: 12px;
}

@media screen and (min-width: 769px){
  .collapse:not(.show) {
      display: block;
      height: auto !important;
      visibility: visible;
  }
}

@media all and (max-width: 768px){
  .main-panel>.content {
    padding: 0;
    padding-top: 20px;
    margin-bottom: 60px;
  }

  .graph_wrapper {
    width: 100%;
  }

  footer {
    margin: 0;
  }

  footer p {
    margin-bottom: 0;
  }
}

@media all and (min-width: 500px){
  .collapse:not(.show).user_nav {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}

@media all and (max-width: 500px){
  .card.login h1 img {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    display: block;
  }

  .user_nav ul {
    display: block;
  }

  .user_nav li {
    display: block;
  }
}