<div class="table-responsive p-0">
    <table class="table table-striped align-items-center mb-3">
        <thead class="table-dark">
            <tr>
                <th><strong>Fecha</strong></th>
                <th><strong>Salto</strong></th>
                <th><strong>Izquierda</strong></th>
                <th><strong>Derecha</strong></th>
                <th><strong>Déficit</strong></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for bilateral in bilaterals %}
                <tr>
                    <td><strong>{{ bilateral.date|date:"m/d/Y" }}</strong></td>            
                    <td><strong>{{ bilateral.jump }}</strong></td>            
                    <td><strong>{{ bilateral.left }}</strong></td>            
                    <td><strong>{{ bilateral.right }}</strong></td>            
                    <td><strong>{{ bilateral.deficit }}%</strong></td>     
                    <td>
                        {% include './bilateral_update_modal.html' with bilateral=bilateral %}
                        {% if request.user.role == 'ADMIN' %}<a href="#" class="badge rounded-circle" data-bs-toggle="modal" data-bs-target="#biUpdateModal_{{ bilateral.id }}"><i class="fs-6 material-icons">edit</i></a>{% endif %}
                    </td>       
                </tr>
            {% endfor %}
        </tbody>
    </table>

    
    {% if request.user.role == 'ADMIN' %}<a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#biCreateModal">Agregar Métrica<i class="fs-6 material-icons">add</i></a>{% endif %}
    {% include './bilateral_create_modal.html' %}
</div>

<div class="mt-4" style="width: 400px">
    <form action="{% url 'users:bilateral_detail' user.id %}" method="get">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group input-group-outline">
                    <input class="form-control mt-2" type="date" name="date" value="{% if date %}{{date|date:'Y-m-d'}}{% endif %}">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group input-group-outline">
                    <button class="btn btn-secondary">Filtrar</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% comment %} {{ df|safe }} {% endcomment %}
{% if graph %}
<h4 class="mt-3">Fecha: {{ date|date:'Y-m-d'}}</h4>
<div class="graph_wrapper">
    <div class="loader">
        <span>Cargando Gráfico</span>
        <div class="lds-ripple"><div></div><div></div></div>
    </div>
    <div class="graph_inner">
        {{ graph|safe }}
    </div>
</div>
{% endif %}


