<!-- Modal -->
<div class="modal fade" id="bilateral_create_observation_modal" tabindex="-1" aria-labelledby="bilateral_create_observation_modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bilateral_create_observation_modalLabel">Observaciones</h5>
                <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                <form action="{% url 'users:bilateral_observation_create' %}" method='post'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Observación</label>
                                <textarea class="form-control" name="observation" id="" cols="30" rows="10" required></textarea>
                            </div>
                        </div>
                    </div>

                    <input type="text" name="uid" value="{{ user.id }}" hidden>
                    <input type="text" name="athlete" value="{{ user.athlete.id }}" hidden>
                    <button class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>