<!-- Modal -->
<div class="modal fade" id="fmsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">FMS</h5>
                <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
            <form action="{% url 'users:fms_update' user.athlete.id %}" method='post'>
                {% csrf_token %}
                <h6>Sentadilla con brazos estirados</h6>
                <input type="number" step="0.01" name="squat_score" value="{{ fms.squat_score|stringformat:".2f" }}">
                <textarea name="squat_observations" id="" cols="30" rows="10">{{ fms.squat_observations }}</textarea>

                <h6>Paso de valla</h6>
                <input type="number" step="0.01" name="fence_step_l_score" value="{{ fms.fence_step_l_score|stringformat:".2f" }}">
                <input type="number" step="0.01" name="fence_step_r_score" value="{{ fms.fence_step_r_score|stringformat:".2f" }}">
                <textarea name="fence_step_observations" id="" cols="30" rows="10">{{ fms.fence_step_observations }}</textarea>
                
                <h6>Estocada</h6>
                <input type="number" step="0.01" name="lunge_l_score" value="{{ fms.lunge_l_score|stringformat:".2f" }}">
                <input type="number" step="0.01" name="lunge_r_score" value="{{ fms.lunge_r_score|stringformat:".2f" }}">
                <textarea name="lunge_observations" id="" cols="30" rows="10">{{ fms.lunge_observations }}</textarea>
                
                <h6>Movilidad de hombros</h6>
                <input type="number" step="0.01" name="shoulder_l_score" value="{{ fms.shoulder_l_score|stringformat:".2f" }}">
                <input type="number" step="0.01" name="shoulder_r_score" value="{{ fms.shoulder_r_score|stringformat:".2f" }}">
                <textarea name="shoulder_observations" id="" cols="30" rows="10">{{ fms.shoulder_observations }}</textarea>
                
                <h6>Elevación activa con la pierna recta</h6>
                <input type="number" step="0.01" name="leg_raise_l_score" value="{{ fms.leg_raise_l_score|stringformat:".2f" }}">
                <input type="number" step="0.01" name="leg_raise_r_score" value="{{ fms.leg_raise_r_score|stringformat:".2f" }}">
                <textarea name="leg_raise_observations" id="" cols="30" rows="10">{{ fms.leg_raise_observations }}</textarea>
                
                <h6>Estabilidad de tronco en flexión</h6>
                <input type="number" step="0.01" name="trunk_l_score" value="{{ fms.trunk_l_score|stringformat:".2f" }}">
                <input type="number" step="0.01" name="trunk_r_score" value="{{ fms.trunk_r_score|stringformat:".2f" }}">
                <textarea name="trunk_observations" id="" cols="30" rows="10">{{ fms.trunk_observations }}</textarea>
               
                <h6>Estabilidad de tronco en rotación</h6>
                <input type="number" step="0.01" name="trunk_rot_l_score" value="{{ fms.trunk_rot_l_score|stringformat:".2f" }}">
                <input type="number" step="0.01" name="trunk_rot_r_score" value="{{ fms.trunk_rot_r_score|stringformat:".2f" }}">
                <textarea name="trunk_rot_observations" id="" cols="30" rows="10">{{ fms.trunk_rot_observations }}</textarea>

                <input type="text" name="uid" value="{{ user.id }}" hidden>
                <input type="text" name="id" value="{{ user.athlete.id }}" hidden>
                <button class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>