<!-- Modal -->
<div class="modal fade" id="fmsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">FMS</h5>
                <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                <form action="{% url 'users:fms_update' fms.id %}" method='post'>
                    {% csrf_token %}
                    <div class="row">
                        <h6>Sentadilla con brazos estirados</h6>
                        <div class="col-sm-12">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Puntaje</label>
                                <input class="form-control" type="number" name="squat_score" value="{{ fms.squat_score }}">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Observaciones</label>
                                <textarea class="form-control" name="squat_observations" id="" cols="30" rows="3">{{ fms.squat_observations }}</textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <h6>Paso de valla</h6>
                        <div class="col-6">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Puntaje Izquierda</label>
                                <input class="form-control" type="number" name="fence_step_l_score" value="{{ fms.fence_step_l_score }}">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Puntaje Derecha</label>
                                <input class="form-control" type="number" name="fence_step_r_score" value="{{ fms.fence_step_r_score }}">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Observaciones</label>
                                <textarea class="form-control" name="fence_step_observations" id="" cols="30" rows="3">{{ fms.fence_step_observations }}</textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <h6>Estocada</h6>
                        <div class="col-6">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Puntaje Izquierda</label>
                                <input class="form-control" type="number" name="lunge_l_score" value="{{ fms.lunge_l_score }}">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Puntaje Derecha</label>
                                <input class="form-control" type="number" name="lunge_r_score" value="{{ fms.lunge_r_score }}">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Observaciones</label>
                                <textarea class="form-control" name="lunge_observations" id="" cols="30" rows="3">{{ fms.lunge_observations }}</textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <h6>Movilidad de hombros</h6>
                        <div class="col-6">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Puntaje Izquierda</label>
                                <input class="form-control" type="number" name="shoulder_l_score" value="{{ fms.shoulder_l_score }}">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Puntaje Derecha</label>
                                <input class="form-control" type="number" name="shoulder_r_score" value="{{ fms.shoulder_r_score }}">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Observaciones</label>
                                <textarea class="form-control" name="shoulder_observations" id="" cols="30" rows="3">{{ fms.shoulder_observations }}</textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <h6>Elevación activa con la pierna recta</h6>
                        <div class="col-6">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Puntaje Izquierda</label>
                                <input class="form-control" type="number" name="leg_raise_l_score" value="{{ fms.leg_raise_l_score }}">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Puntaje Derecha</label>
                                <input class="form-control" type="number" name="leg_raise_r_score" value="{{ fms.leg_raise_r_score }}">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Observaciones</label>
                                <textarea class="form-control" name="leg_raise_observations" id="" cols="30" rows="3 class="form-control"">{{ fms.leg_raise_observations }}</textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <h6>Estabilidad de tronco en flexión</h6>
                        <div class="col-6">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Puntaje Izquierda</label>
                                <input class="form-control" type="number" name="trunk_l_score" value="{{ fms.trunk_l_score }}">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Puntaje Derecha</label>
                                <input class="form-control" type="number" name="trunk_r_score" value="{{ fms.trunk_r_score }}">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Observaciones</label>
                                <textarea class="form-control" name="trunk_observations" id="" cols="30" rows="3 class="form-control"">{{ fms.trunk_observations }}</textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <h6>Estabilidad de tronco en rotación</h6>
                        <div class="col-6">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Puntaje Izquierda</label>
                                <input class="form-control" type="number" name="trunk_rot_l_score" value="{{ fms.trunk_rot_l_score }}">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Puntaje Derecha</label>
                                <input class="form-control" type="number" name="trunk_rot_r_score" value="{{ fms.trunk_rot_r_score }}">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Observaciones</label>
                                <textarea class="form-control" name="trunk_rot_observations" id="" cols="30" rows="3">{{ fms.trunk_rot_observations }}</textarea>
                            </div>
                        </div>
                    </div>
                

                    <input type="text" name="uid" value="{{ user.id }}" hidden>
                    <input type="text" name="id" value="{{ user.athlete.id }}" hidden>
                    <button class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>