<!-- Modal -->
<div class="modal fade" id="fvDeleteModal_{{ fv.id }}" tabindex="-1" aria-labelledby="fvDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bilateralDeleteModalLabel">¿Esta seguro que desea borrar el registro?</h5>
                <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                <form 
                action="{% url 'users:fv_delete' fv.id %}" 
                method='post'>
                    {% csrf_token %}
                    <input type="text" name="uid" value="{{ user.id }}" hidden>
                    <input type="text" name="profile_fv" value="{{ profile_parent.id }}" hidden>
                    <button class="btn btn-danger">Sí, Borrar</button>
                </form>
            </div>
        </div>
    </div>
</div>