<!-- Modal -->
<div class="modal fade" id="fv_observations_delete_modal" tabindex="-1" aria-labelledby="fvObservationDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fvObservationDeleteLabel">¿Estás seguro que deseas borrar la observación?</h5>
                <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                <form 
                action="{% url 'users:fv_observation_delete' observation.id %}" 
                method='post'>
                    {% csrf_token %}


                    <input type="text" name="uid" value="{{ user.id }}" hidden>
                    <button class="btn btn-danger">Sí, Borrar</button>
                </form>
            </div>
        </div>
    </div>
</div>