<!-- Modal -->
<div class="modal fade" id="neuroCreateModal" tabindex="-1" aria-labelledby="neuroCreateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="neuroCreateModalLabel">{{item}}</h5>
                <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                <form 
                action="{% url 'users:neuro_create' user.athlete.id %}" 
                method='post'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Tipo de Salto</label>
                                <select class="form-control" name="jump_type" id="" required>
                                    <option value="">--</option>
                                    <option value="sj">SJ</option>
                                    <option value="cmj">CMJ</option>
                                    <option value="drops">DROPS</option>
                                    <option value="q">Q</option>
                                </select>
                            </div>
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Fecha</label>
                                <input class="form-control" type="date" name="date" value="" required>
                            </div>
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Salto</label>
                                <input class="form-control" type="number" step="0.01" name="score" value="" required>
                            </div>
                        </div>
                    </div>

                    <input type="text" name="uid" value="{{ user.id }}" hidden>
                    <input type="text" name="athlete" value="{{ user.athlete.id }}" hidden>
                    <button class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>