
{% if request.user.role == 'ADMIN' %}
<div class="table-responsive p-0">
    <table class="table table-striped align-items-center mb-3 jumps_table">
        <thead class="table-dark">
            <tr>
                <th><strong>Fecha</strong></th>
                <th><strong>Nombre</strong></th>
                <th><strong>Salto</strong></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for item in jumps %}
            <tr>
                <td>{{ item.date }}</td>
                <td>{{ item }}</td>
                <td>{{ item.score }}</td>
                <td> {% include './neuro_update_modal.html' with jump=item user=user %}
                    {% if request.user.role == 'ADMIN' %}<a href="#" class="badge rounded-circle" data-bs-toggle="modal" data-bs-target="#neuroUpdateModal_{{ item }}_{{ item.id }}"><i class="fs-6 material-icons">edit</i></a>{% endif %}
                    
                    {% include './neuro_delete_modal.html' with jump=item user=user %}
                    {% if request.user.role == 'ADMIN' %}<a href="#" class="badge rounded-circle" data-bs-toggle="modal" data-bs-target="#neuroDeleteModal_{{ item }}_{{ item.id }}"><i class="fs-6 material-icons">delete</i></a>{% endif %}
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
{% if request.user.role == 'ADMIN' %}<a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#neuroCreateModal">Agregar Métrica<i class="fs-6 material-icons">add</i></a>{% endif %}
{% include './neuro_create_modal.html' %}
</div>

{% endif %}

{% comment %} {{ df|safe }} {% endcomment %}

{% comment %} {% for sj_item in sj %}
{{ sj_item.date }}
{{ sj_item.score }}
{% endfor %} {% endcomment %}

{% if fig %}
<div class="graph_wrapper">
    <div class="loader">
        <span>Cargando Gráfico</span>
        <div class="lds-ripple"><div></div><div></div></div>
    </div>
    <div class="graph_inner">
        {{ fig|safe }}
    </div>
</div>
{% endif %}

{% block extrajs %}
<script type="text/javascript">
     
    $(document).ready(function() {
        $(".jumps_table").fancyTable({
           sortColumn: 0,
           sortOrder:0,
           pagination: true,
           perPage: 10,
           globalSearch:false,
           searchable:false
           });
                     
    });
</script>
{% endblock %}