
{% if request.user.role == 'ADMIN' %}
<div class="table-responsive p-0">
    <table class="table table-striped align-items-center mb-3 jumps_table">
        <thead class="table-dark">
            <tr>
                <th><strong>Fecha</strong></th>
                <th><strong>Salto</strong></th>
                <th><strong>Puntaje</strong></th>
            </tr>
        </thead>

        <tbody>
            {% for item in jumps %}
            <tr>
                <td>{{ item.date }}</td>
                <td>{{ item }}</td>
                <td>{{ item.score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{{ df|safe }}

{% comment %} {% for sj_item in sj %}
{{ sj_item.date }}
{{ sj_item.score }}
{% endfor %} {% endcomment %}

{% if fig %}
<div class="graph_wrapper">
    <div class="loader">
        <span>Cargando Gráfico</span>
        <div class="lds-ripple"><div></div><div></div></div>
    </div>
    <div class="graph_inner">
        {{ fig|safe }}
    </div>
</div>
{% endif %}

{% include './neuro_sj_modal.html' %}
{% include './neuro_cmj_modal.html' %}
{% include './neuro_drops_modal.html' %}
{% include './neuro_q_modal.html' %}


{% block extrajs %}
<script type="text/javascript">
     
    $(document).ready(function() {
        $(".jumps_table").fancyTable({
           sortColumn: 0,
           sortOrder:0,
           pagination: true,
           perPage:2,
           globalSearch:false,
           searchable:false
           });
                     
    });
</script>
{% endblock %}