<!-- Modal -->
<div class="modal fade" id="painModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">EVALUACIÓN DOLOR, SENSIBILIDAD, INFLAMACIÓN, EDEMA</h5>
                <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
            <form action="{% url 'users:pain_update' osteo.id %}" method='post'>
            <div class="modal-body">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Dolor</label>
                                <select class="form-control" name="pain" id="pain" value="{% if osteo.pain %}{{ osteo.pain }}{% endif %}">
                                    {% include '../utils/pain_choices.html' with field=osteo.pain %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">En reposo</label>
                                <select class="form-control" name="resting" id="resting" value="{% if osteo.resting %}{{ osteo.resting }}{% endif %}">
                                    {% include '../utils/pain_choices.html' with field=osteo.resting %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">En movimiento</label>
                                <select class="form-control" name="moving" id="moving" value="{% if osteo.moving %}{{ osteo.moving }}{% endif %}">
                                    {% include '../utils/pain_choices.html' with field=osteo.moving %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">A la Palpación</label>
                                <select class="form-control" name="on_palpitation" id="on_palpitation" value="{% if osteo.on_palpitation %}{{ osteo.on_palpitation }}{% endif %}">
                                    {% include '../utils/pain_choices.html' with field=osteo.on_palpitation %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Zona</label>
                                <input type="text" class="form-control" name="zone" value="{% if osteo.zone %}{{osteo.zone}}{% endif %}">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Intensidad</label>
                                <input type="text" class="form-control" name="intensity" value="{% if osteo.intensity %}{{osteo.intensity}}{% endif %}">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Sensibilidad superficial</label>
                                <select class="form-control" name="superficial_sensitivity" id="superficial_sensitivity" value="{% if osteo.superficial_sensitivity %}{{ osteo.superficial_sensitivity }}{% endif %}">
                                    {% include '../utils/pain_choices.html' with field=osteo.superficial_sensitivity %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Sensibilidad profunda</label>
                                <select class="form-control" name="deep_sensitivity" id="deep_sensitivity" value="{% if osteo.deep_sensitivity %}{{ osteo.deep_sensitivity }}{% endif %}">
                                    {% include '../utils/pain_choices.html' with field=osteo.deep_sensitivity %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Inflamación</label>
                                <select class="form-control" name="inflammation" id="inflammation" value="{% if osteo.inflammation %}{{ osteo.inflammation }}{% endif %}">
                                    {% include '../utils/pain_choices.html' with field=osteo.inflammation %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Edema</label>
                                <select class="form-control" name="edema" id="edema" value="{% if osteo.edema %}{{ osteo.edema }}{% endif %}">
                                    {% include '../utils/pain_choices.html' with field=osteo.edema %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Observaciones</label>
                                <textarea class="form-control" name="observations" cols="30" rows="10">{% if osteo.observations %}{{osteo.observations}}{% endif %}</textarea>
                            </div>
                        </div>
                    </div>
                
                    <input type="text" placeholder="id" name="uid" value="{{ user.id }}" hidden>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">Guardar</button>
                    <a href="#" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</a>
                </div>
            </form>
        </div>
    </div>
</div>