<!-- Modal -->
<div class="modal fade" id="pictureModal" tabindex="-1" aria-labelledby="pictureModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pictureModalLabel">Foto</h5>
                <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
            <form action="{% url 'users:user_update' user.id %}" enctype="multipart/form-data" method='post'>
            <div class="modal-body">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group input-group-outline mb-3 {% if form.last_name.errors %}alert_field{% endif %}">
                                <label class="form-label">Foto</label>
                                <input class="form-control" type="file" name="picture">
                                {% if form.picture.errors %}
                                    {% for e in form.picture.errors %}
                                        <p class="msg text-danger">{{ e }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% if referer %}
                        <input type="text" name="referer" value="{{referer}}" hidden>
                    {% endif %}
                    <input type="text" name="type" value="picture" hidden>
                    <input type="text" placeholder="id" name="id" value="{{ user.id }}" hidden>
                    
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">Guardar</button>
                <a href="#" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</a>
            </div>
        </form>
        </div>
    </div>
</div>