
<div class="row">
    <div class="col-sm-12">
        <h5>Sentadilla</h5>
        <div class="table-responsive p-0">
            <table class="table table-striped align-items-center fv_table mb-3">
                <thead class="table-dark">
                    <tr>
                        <th><strong>Fecha</strong></th>
                        <th><strong>RM</strong></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for profile in profiles %}
                        <tr>
                            <td><a href="{% url 'users:fv_detail' user.id %}?fv_id={{profile.id}}" class="badge rounded-circle">{{ profile.date }}</a></td>
                            <td>{{ profile.rm }}</td>
                            <td>
                                {% if request.user.role == 'ADMIN' %}<a href="{% url 'users:fv_detail' user.id %}?fv_id={{profile.id}}" class="badge rounded-circle"><i class="fs-6 material-icons">edit</i></a>{% endif %}
                            
                                {% include './profile_fv_delete_modal.html' with fv=profile user=user %}
                                {% if request.user.role == 'ADMIN' %}<a href="#" class="badge rounded-circle" data-bs-toggle="modal" data-bs-target="#fvDeleteModal_{{ profile.id }}"><i class="fs-6 material-icons">delete</i></a>{% endif %}
                            </td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
                {% if request.user.role == 'ADMIN' %}<a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fvCreateModal">Agregar Métrica<i class="fs-6 material-icons">add</i></a>{% endif %}
                {% include './fv_create_modal.html' with user=user %}
        </div>
    </div>
</div>

<hr>

<div class="notes">
    <h4>Observaciones</h4>
    {% if request.user.role == 'ADMIN' and not fv_observations %}<a href="#" class="btn btn-secundary" data-bs-toggle="modal" data-bs-target="#fv_observations_add_modal">Agregar Observación<i class="fs-6 material-icons">add</i></a>{% endif %}
    {% include './fv_observations_add_modal.html' with user=user %}

    {% if fv_observations %}
    <p class="ml-2">{{fv_observations.observation}}</p>
    {% if request.user.role == 'ADMIN' %}
        <a href="#" class="btn btn-secundary" data-bs-toggle="modal" data-bs-target="#fv_observations_edit_modal">Editar Observación<i class="fs-6 ml-2 material-icons">edit</i></a>
        <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#fv_observations_delete_modal">Borrar Observación<i class="fs-6 ml-2 material-icons">delete</i></a>
    {% endif %}
    {% include './fv_observations_edit_modal.html' with user=user observation=fv_observations %}
    {% include './fv_observations_delete_modal.html' with user=user observation=fv_observations %}
    {% endif %}
</div>

<div class="row">
    <div class="col-12">
        
        {% if fv_graph %}
        <div class="graph_wrapper">
            <div class="loader">
                <span>Cargando Gráfico</span>
                <div class="lds-ripple"><div></div><div></div></div>
            </div>
            <div class="graph_inner">
                {{ fv_graph|safe }}
            </div>
    
        </div>
        {% endif %}
    </div>
</div>

{% block extrajs %}
<script type="text/javascript">
     
    $(document).ready(function() {
        $(".fv_table").fancyTable({
           sortOrder:0,
           pagination: true,
           perPage: 5,
           globalSearch:false,
           searchable:false
           });
                     
    });
</script>
{% endblock %}

