
<div class="row">
    <div class="col-sm-12">
        <h3>Sentadilla</h3>
        <div class="table-responsive p-0">
            <table class="table table-striped align-items-center mb-3">
                <thead class="table-dark">
                    <tr>
                        <th><strong>Peso (KG)</strong></th>
                        <th><strong>Vel(m/s)</strong></th>
                        <th><strong>Vel(m/s)</strong></th>
                        <th><strong>Vel(m/s)</strong></th>
                        <th><strong>Vel(m/s)</strong></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for profile in profiles %}
                        <tr>
                            <td>{{ profile.weight }}</td>
                            <td>{{ profile.speed1 }}</td>
                            <td>{{ profile.speed2 }}</td>
                            <td>{{ profile.speed3 }}</td>
                            <td>{{ profile.speed4 }}</td>
                            <td>
                                {% include './profile_update_modal.html' with profile=profile %}
                                {% if request.user.role == 'ADMIN' %}<a href="#" class="badge rounded-circle" data-bs-toggle="modal" data-bs-target="#profileModal_{{ profile.id }}"><i class="fs-6 material-icons">edit</i></a>{% endif %}
                            </td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not is_limit %}
                {% if request.user.role == 'ADMIN' %}<a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profileCreateModal">Agregar Métrica<i class="fs-6 material-icons">add</i></a>{% endif %}
                {% include './profile_create_modal.html' %}
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="badge badge-pill badge-success text-white px-3" style="font-size: 20px !important;">RM: {{ rm }}</h3>
        {% comment %} <iframe src = "{% url 'users:profile_fv_graph' id=user.id %}" width = "768" height = "500" frameBorder="0"></iframe> {% endcomment %}

        {% if graph %}
        <div class="graph_wrapper">
            <div class="loader">
                <span>Cargando Gráfico</span>
                <div class="lds-ripple"><div></div><div></div></div>
            </div>
            <div class="graph_inner">
                {{ graph|safe }}
            </div>
    
        </div>
        {% endif %}
    </div>
</div>



