{% extends 'layout/base.html' %}

{% block container %}

    {% if user == request.user or request.user.role == 'ADMIN' %}

    <div class="row">
        <div class="col-sm-4">
            <div class="card user card-body p-4">
                <h3 class="title">{{user.first_name}} {{user.last_name}}</h3>
                
                <div class="collapse user_nav mt-1" id="userNavCollapse">
                    {% include './inc/account_nav.html' %}
                </div>
                
                <div class="picture">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#pictureModal"><i class="fs-6 material-icons">edit</i></a>
                    <img width="100" src="{% if user.picture %}{{ user.picture.url }}{% else %}/static/img/profile_pic.jpg{% endif %}" alt="">
                </div>
                
                <h6>Información de ususario <a href="#" class="badge rounded-circle" data-bs-toggle="modal" data-bs-target="#managerModal"><i class="fs-6 material-icons">edit</i></a></h6>
                <ul class="list-group">
                    <li class="list-group-item p-0"><strong>Email:</strong> {% if user.email %} <a href="mailto:{{ user.email }}" target="blank">{{ user.email }}</a> {% else %} --- {% endif %}</li>
                    <li class="list-group-item p-0"><strong>Teléfono:</strong> {% if user.phone %} {{ user.phone }} {% else %} --- {% endif %}</li>
                    <li class="list-group-item p-0"><strong>Cédula:</strong> {% if user.document %} {{ user.document }} {% else %} --- {% endif %}</li>
                </ul>
            </div>
        </div>
    </div>

    {% include './inc/picture_modal.html' with referer='profile_info' %}
    {% include './inc/update_info_modal.html' with referer='profile_info' %}

   


    {% else %}
    <h2>No tienes acceso a este usuario</h2>
    {% endif %}
{% endblock  %}


{% block extrajs %}
    {% if form.errors %}
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            $("#managerModal").modal('show');
        })
    </script>
    {% endif %}
{% endblock %}