{% extends 'layout/detail_base.html' %}

{% block user %}

    <div class="row">
        <div class="col-sm-6 col-lg-2">
            <div class="picture">
                {% if request.user.role == 'ADMIN' %}
                    <a href="#" data-bs-toggle="modal" data-bs-target="#pictureModal"><i class="fs-6 material-icons">edit</i></a>
                {% endif %}
                <img width="100" src="{% if user.picture %}{{ user.picture.url }}{% else %}/static/img/profile_pic.jpg{% endif %}" alt="">
            </div>
            <h3 class="title">{{user.first_name}} {{user.last_name}}</h3>
        </div>

        <div class="col-sm-6 col-lg-3">
            <h6>Información Personal {% if request.user.role == 'ADMIN' %}<a href="#" class="badge rounded-circle" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fs-6 material-icons">edit</i></a>{% endif %}</h6>
            <ul class="list-group">
                <li class="list-group-item p-0"><strong>Cédula:</strong> {% if user.document %} {{ user.document }} {% else %} --- {% endif %}</li>
                <li class="list-group-item p-0"><strong>Nacimiento:</strong> {% if user.athlete.birthdate %}{{ user.athlete.birthdate }} {% else %} --- {% endif %}</li>
                <li class="list-group-item p-0"><strong>Edad:</strong> {% if user.athlete.age %} {{ user.athlete.age }} {% else %} --- {% endif %}</li>
                <li class="list-group-item p-0"><strong>Género:</strong> {% if user.athlete.gender %} {{ user.athlete.gender }} {% else %} --- {% endif %}</li>
                <li class="list-group-item p-0"><strong>Teléfono:</strong> {% if user.phone %} {{ user.phone }} {% else %} --- {% endif %}</li>
                <li class="list-group-item p-0"><strong>Email:</strong> {% if user.email %} <a href="mailto:{{ user.email }}" target="blank">{{ user.email }}</a> {% else %} --- {% endif %}</li>
            </ul>
        </div>

        <div class="col-sm-6 col-lg-3">
            <h6>Información Deportiva {% if request.user.role == 'ADMIN' %}<a class="badge rounded-circle" href="#" data-bs-toggle="modal" data-bs-target="#sportModal"><i class="fs-6 material-icons">edit</i></a>{% endif %}</h6>
            <ul class="list-group">
            <li class="list-group-item p-0"><strong>Es deportista:</strong> {% if user.athlete.is_athlete %} Sí {% else %} No {% endif %}</li>
            <li class="list-group-item p-0"><strong>Equipo:</strong> {% if user.athlete.team %} {{ user.athlete.team }} {% else %} --- {% endif %}</li>
            <li class="list-group-item p-0"><strong>Deporte:</strong> {% if user.athlete.sport %} {{ user.athlete.sport }} {% else %} --- {% endif %}</li>
            </ul>

            <ul class="list-group">
            <h6>Medidas {% if request.user.role == 'ADMIN' %}<a href="#" class="badge rounded-circle" data-bs-toggle="modal" data-bs-target="#measuresModal"><i class="fs-6 material-icons">edit</i></a>{% endif %}</h6>
            <li class="list-group-item p-0"><strong>Talla:</strong> {% if user.athlete.size %} {{ user.athlete.size }} {% else %} --- {% endif %}</li>
            <li class="list-group-item p-0"><strong>Peso:</strong> {% if user.athlete.weight %} {{ user.athlete.weight }} {% else %} --- {% endif %}</li>
            </ul>
        </div>
        
        <div class="col-sm-6 col-lg-3">
            <h6>Salud {% if request.user.role == 'ADMIN' %}<a class="badge rounded-circle" href="#" data-bs-toggle="modal" data-bs-target="#healthModal"><i class="fs-6 material-icons">edit</i></a>{% endif %}</h6>
            <ul class="list-group">
            <li class="list-group-item p-0"><strong>EPS:</strong> {% if user.athlete.eps %} {{ user.athlete.eps }} {% else %} --- {% endif %}</li>
            </ul>

            <h6>Legal {% if request.user.role == 'ADMIN' %}<a class="badge rounded-circle" href="#" data-bs-toggle="modal" data-bs-target="#legalModal"><i class="fs-6 material-icons">edit</i></a>{% endif %}</h6>
            <ul class="list-group">
            <li class="list-group-item p-0"><strong>Manager:</strong> {% if user.athlete.manager %}<a href="{% url 'users:manager_detail' user.athlete.manager.id %}">{{ user.athlete.manager }}</a>{% else %}No Asignado{% endif %}</li>
            </ul>
        </div>
    </div>

    {% if request.user.role != 'MANAGER' %}

        {% include './inc/picture_modal.html' %}

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Información Personal</h5>
                        <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                    </div>
                    <form action="{% url 'users:user_update' user.id %}" method='post'>
                    <div class="modal-body">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group input-group-outline mb-3 {% if form.last_name.errors %}alert_field{% endif %}">
                                        <label class="form-label">Nombre</label>
                                        <input class="form-control" type="text" name="first_name" value="{% if user.first_name %}{{ user.first_name }}{% endif %}">
                                        {% if form.first_name.errors %}
                                            {% for e in form.first_name.errors %}
                                                <p class="msg text-danger">{{ e }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="input-group input-group-outline mb-3 {% if form.email.errors %}alert_field{% endif %}">
                                        <label class="form-label">Email</label>
                                        <input class="form-control" type="email" name="email" value="{% if user.email %}{{ user.email }}{% endif %}">
                                        {% if form.email.errors %}
                                            {% for e in form.email.errors %}
                                                <p class="msg text-danger">{{ e }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="input-group input-group-outline mb-3 {% if form.document.errors %}alert_field{% endif %}">
                                        <label class="form-label">Cédula</label>
                                        <input class="form-control" type="text" name="document" value="{% if user.document %}{{ user.document }}{% endif %}">
                                        {% if form.document.errors %}
                                            {% for e in form.document.errors %}
                                                <p class="msg text-danger">{{ e }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="input-group input-group-outline mb-3 is-focus is-upper {% if form.birthdate.errors %}alert_field{% endif %}">
                                        <label class="form-label">Nacimiento</label>
                                        <input class="form-control" type="date" name="birthdate" value="{% if user.athlete.birthdate %}{{ user.athlete.birthdate| date:'Y-m-d' }}{% endif %}">
                                        {% if form.birthdate.errors %}
                                            {% for e in form.birthdate.errors %}
                                                <p class="msg text-danger">{{ e }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                
                                <div class="col-sm-6">
                                    <div class="input-group input-group-outline mb-3 {% if form.last_name.errors %}alert_field{% endif %}">
                                        <label class="form-label">Apellido</label>
                                        <input class="form-control" type="text" name="last_name" value="{% if user.last_name %}{{ user.last_name }}{% endif %}">
                                        {% if form.last_name.errors %}
                                            {% for e in form.last_name.errors %}
                                                <p class="msg text-danger">{{ e }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="input-group input-group-outline mb-3 {% if form.phone.errors %}alert_field{% endif %}">
                                        <label class="form-label">Teléfono</label>
                                        <input class="form-control" type="text" name="phone" value="{% if user.phone %}{{ user.phone }}{% endif %}">
                                        {% if form.phone.errors %}
                                            {% for e in form.phone.errors %}
                                                <p class="msg text-danger">{{ e }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>


                                    <div class="input-group input-group-outline mb-3 is-upper {% if form.gender.errors %}alert_field{% endif %}">
                                        <label class="form-label">Género</label>
                                        <select class="form-control" name="gender" id="gender" value="{% if user.athlete.gender %}{{ user.athlete.gender }}{% endif %}">
                                            <option value="">Selecciona</option>
                                            <option {% if user.athlete.gender == 'M' %} selected {% endif %} value="M">Masculino</option>
                                            <option {% if user.athlete.gender == 'F' %} selected {% endif %} value="F">Femenino</option>
                                            <option {% if user.athlete.gender == 'O' %} selected {% endif %} value="O">Otro</option>
                                        </select>
                                        {% if form.gender.errors %}
                                            {% for e in form.gender.errors %}
                                                <p class="msg text-danger">{{ e }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <input type="text" name="type" value="basic" hidden>
                            <input type="text" placeholder="id" name="id" value="{{ user.id }}" hidden>
                            
                        
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">Guardar</button>
                        <a href="#" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</a>
                    </div>
                </form>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="sportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Información Deportiva</h5>
                        <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                    </div>
                    <form action="{% url 'users:user_update' user.id %}" method='post'>
                    <div class="modal-body">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <input class="" type="checkbox" name="is_athlete" {% if user.athlete.is_athlete %}checked{% endif %}>
                                <label style="position:relative; top:5px; margin-left: 5px;" class="">Es deportista</label>
                            </div>
                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Equipo</label>
                                <input class="form-control" type="text" name="team" value="{% if user.athlete.team %}{{ user.athlete.team }}{% endif %}">
                            </div>
                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Deporte</label>
                                <input class="form-control" type="text" name="sport" value="{% if user.athlete.sport %}{{ user.athlete.sport }}{% endif %}">
                            </div>
                        
                            <input type="text" name="id" value="{{ user.id }}" hidden>
                            <input type="text" name="type" value="sport" hidden>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary">Guardar</button>
                            <a href="#" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="measuresModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Medidas</h5>
                        <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                    </div>
                    <form action="{% url 'users:user_update' user.id %}" method='post'>
                    <div class="modal-body">
                            {% csrf_token %}
                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Talla</label>
                                <input class="form-control" type="text" name="size" value="{% if user.athlete.size %}{{ user.athlete.size }}{% endif %}">
                            </div>
                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Peso</label>
                                <input class="form-control" type="text" name="weight" value="{% if user.athlete.weight %}{{ user.athlete.weight }}{% endif %}">
                            </div>

                            <input type="text" name="type" value="measures" hidden>
                            <input type="text" placeholder="id" name="id" value="{{ user.id }}" hidden>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary">Guardar</button>
                            <a href="#" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="healthModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Salud</h5>
                        <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                    </div>
                    <form action="{% url 'users:user_update' user.id %}" method='post'>
                    <div class="modal-body">
                            {% csrf_token %}
                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">EPS</label>
                                <input class="form-control" type="text" name="eps" value="{% if user.athlete.eps %}{{ user.athlete.eps }}{% endif %}">
                            </div>

                            <input type="text" name="type" value="health" hidden>
                            <input type="text" placeholder="id" name="id" value="{{ user.id }}" hidden>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary">Guardar</button>
                            <a href="#" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="legalModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Legal</h5>
                        <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                    </div>
                    <form action="{% url 'users:user_update' user.id %}" method='post'>
                    <div class="modal-body">
                            {% csrf_token %}
                            <div class="input-group input-group-outline mb-3 is-upper">
                                <label class="form-label">Manager</label>
                                <select class="form-control" name="manager" id="manager" value="{% if user.athlete.manager %}{{ user.athlete.manager }}{% endif %}">
                                    <option value="">Escoge el empresario</option>
                                    {% if user.athlete.manager %}
                                        <option value="{{ user.athlete.manager.id }}" selected>{{ user.athlete.manager }}</option>
                                    {% endif %}
                    
                                    {% if managers %}
                                    {% for manager in managers %}
                                        {% if manager.id != user.athlete.manager.id %}
                                        <option value="{{ manager.id }}">{{ manager }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    {% else %}
                                        no managers
                                    {% endif %}
                                </select>
                            </div>
                

                            <input type="text" name="type" value="legal" hidden>
                            <input type="text" placeholder="id" name="id" value="{{ user.id }}" hidden>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary">Guardar</button>
                            <a href="#" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    {% endif %}
    {% comment %} end if edit user permission {% endcomment %}

{% endblock  %}

{% block extrajs %}
    {% if form.errors and form_type %}
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            $("#{{form_type}}").modal('show');
        })
    </script>
    {% endif %}
{% endblock %}


