{% extends 'layout/base.html' %}

{% block container %}
    {% if request.user.role != 'ATHLETE' %}
    <a class="mb-3 btn btn-sm" href="{% url 'users:index' %}">
        <i class="material-icons">arrow_back</i>
        deportistas
    </a>
    {% endif %}

    {% if user.athlete.manager == request.user or request.user.role != 'MANAGER' %}

    <div class="card user card-body p-4">
        <h3 class="title">{{user.first_name}} {{user.last_name}}</h3>
        
        <ul class="nav nav-pills" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if not request.GET.tab %} active {% endif %}" id="basic-tab" data-bs-toggle="tab" data-bs-target="#basic" type="button" role="tab" aria-controls="basic" aria-selected="true">Básico</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if request.GET.tab == 'osteo' %} active {% endif %}" id="osteo-tab" data-bs-toggle="tab" data-bs-target="#osteo" type="button" role="tab" aria-controls="osteo" aria-selected="false">Osteomuscular</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if request.GET.tab == 'fms' %} active {% endif %}" id="fms-tab" data-bs-toggle="tab" data-bs-target="#fms" type="button" role="tab" aria-controls="fms" aria-selected="false">FMS</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if request.GET.tab == 'neuro' %} active {% endif %}" id="neuro-tab" data-bs-toggle="tab" data-bs-target="#neuro" type="button" role="tab" aria-controls="neuro" aria-selected="false">Perfil Neuromuscular</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if request.GET.tab == 'bilateral' %} active {% endif %}" id="deficit-tab" data-bs-toggle="tab" data-bs-target="#deficit" type="button" role="tab" aria-controls="deficit" aria-selected="false">Deficit Bilateral</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if request.GET.tab == 'profile' %} active {% endif %}" id="pfv-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="pfv" aria-selected="false">Perfil Fuerza / Velocidad</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade {% if not request.GET.tab %} show active {% endif %}" id="basic" role="tabpanel" aria-labelledby="basic-tab">
                <div class="row">
                    <div class="col-6 col-lg-4">
                        <h6>Información Personal {% if request.user.role == 'ADMIN' %}<a href="#" class="badge rounded-circle" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fs-6 material-icons">edit</i></a>{% endif %}</h6>
                        <ul class="list-group">
                            <li class="list-group-item p-0"><strong>Cédula:</strong> {% if user.document %} {{ user.document }} {% else %} --- {% endif %}</li>
                            <li class="list-group-item p-0"><strong>Nacimiento:</strong> {% if user.athlete.birthdate %}{{ user.athlete.birthdate }} {% else %} --- {% endif %}</li>
                        <li class="list-group-item p-0"><strong>Edad:</strong> {% if user.athlete.age %} {{ user.athlete.age }} {% else %} --- {% endif %}</li>
                        <li class="list-group-item p-0"><strong>Género:</strong> {% if user.athlete.gender %} {{ user.athlete.gender }} {% else %} --- {% endif %}</li>
                        <li class="list-group-item p-0"><strong>Teléfono:</strong> {% if user.phone %} {{ user.phone }} {% else %} --- {% endif %}</li>
                        <li class="list-group-item p-0"><strong>Email:</strong> {% if user.email %} <a href="mailto:{{ user.email }}" target="blank">{{ user.email }}</a> {% else %} --- {% endif %}</li>
                        </ul>
                    </div>
        
                    <div class="col-6 col-lg-4">
                        <h6>Información Deportiva {% if request.user.role == 'ADMIN' %}<a class="badge rounded-circle" href="#" data-bs-toggle="modal" data-bs-target="#sportModal"><i class="fs-6 material-icons">edit</i></a>{% endif %}</h6>
                        <ul class="list-group">
                        <li class="list-group-item p-0"><strong>Equipo:</strong> {% if user.athlete.team %} {{ user.athlete.team }} {% else %} --- {% endif %}</li>
                        <li class="list-group-item p-0"><strong>Deporte:</strong> {% if user.athlete.sport %} {{ user.athlete.sport }} {% else %} --- {% endif %}</li>
                        </ul>
        
                        <ul class="list-group">
                        <h6>Medidas {% if request.user.role == 'ADMIN' %}<a href="#" class="badge rounded-circle" data-bs-toggle="modal" data-bs-target="#measuresModal"><i class="fs-6 material-icons">edit</i></a>{% endif %}</h6>
                        <li class="list-group-item p-0"><strong>Talla:</strong> {% if user.athlete.size %} {{ user.athlete.size }} {% else %} --- {% endif %}</li>
                        <li class="list-group-item p-0"><strong>Peso:</strong> {% if user.athlete.weight %} {{ user.athlete.weight }} {% else %} --- {% endif %}</li>
                        </ul>
                    </div>
                    
                    <div class="col-6 col-lg-4">
                        <h6>Salud {% if request.user.role == 'ADMIN' %}<a class="badge rounded-circle" href="#" data-bs-toggle="modal" data-bs-target="#healthModal"><i class="fs-6 material-icons">edit</i></a>{% endif %}</h6>
                        <ul class="list-group">
                        <li class="list-group-item p-0"><strong>EPS:</strong> {% if user.athlete.eps %} {{ user.athlete.eps }} {% else %} --- {% endif %}</li>
                        </ul>
        
                        <h6>Legal {% if request.user.role == 'ADMIN' %}<a class="badge rounded-circle" href="#" data-bs-toggle="modal" data-bs-target="#legalModal"><i class="fs-6 material-icons">edit</i></a>{% endif %}</h6>
                        <ul class="list-group">
                        <li class="list-group-item p-0"><strong>Manager:</strong> {% if user.athlete.manager %}<a href="{% url 'users:manager_detail' user.athlete.manager.id %}">{{ user.athlete.manager }}</a>{% else %}No Asignado{% endif %}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade {% if request.GET.tab == 'osteo' %} show active {% endif %}" id="osteo" role="tabpanel" aria-labelledby="osteo-tab">

                <hr>
                <h6>Evaluación dolor, sensibilidad, inflamación, edema {% if request.user.role == 'ADMIN' %}<a href="#" class="badge rounded-circle" data-bs-toggle="modal" data-bs-target="#painModal"><i class="fs-6 material-icons">edit</i></a>{% endif %}</h6>
                <p>No refiere (NR). Conservado (C). Alterado (A). No evaluado (NE). </p>
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="mb-0">
                            <li><strong>Dolor:</strong> {{ osteo.pain }}</li>
                            <li><strong>En reposo:</strong> {{ osteo.resting }}</li>
                            <li><strong>En movimiento:</strong> {{ osteo.moving }}</li>
                            <li><strong>A la palpación:</strong> {{ osteo.on_palpitation }}</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="mb-0">
                            <li><strong>Zona:</strong> {{ osteo.zone }}</li>
                            <li><strong>Intensidad:</strong> {{ osteo.intensity }}</li>
                            <li><strong>Sensibilidad superficial:</strong> {{ osteo.superficial_sensitivity }}</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="mb-0">
                            <li><strong>Sensibilidad profunda:</strong> {{ osteo.deep_sensitivity }}</li>
                            <li><strong>Inflamación:</strong> {{ osteo.inflammation }}</li>
                            <li><strong>Edema:</strong> {{ osteo.edema }}</li>
                        </ul>
                    </div>
                    <div class="col-sm-12">
                        <ul class="mb-0">
                            <li><strong>Observaciones:</strong> {{ osteo.observations }}</li>
                        </ul>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-6">
                        <h6>Evaluación de flexibilidad | Retracción {% if request.user.role == 'ADMIN' %}<a href="#" class="badge rounded-circle" data-bs-toggle="modal" data-bs-target="#flexModal"><i class="fs-6 material-icons">edit</i></a>{% endif %}</h6>
                        <h5><strong class="badge badge-pill badge-warning text-dark">leve (L)</strong><strong class="badge badge-pill badge-warning-2 text-dark">Moderada (M)</strong><strong class="badge badge-pill badge-danger text-white">Severa (S)</strong><strong class="badge badge-pill badge-secondary-2 text-dark">No evaluado (NE)</strong><strong class="badge badge-pill badge-success text-white">No retracción (NR)</strong></h5>
                        
                        <div class="table-responsive">
                            <table class="table table-striped user_info_table">
                                <thead class="table-dark">
                                    <tr>
                                        <th><strong>Grupo Muscular</strong></th>
                                        <th><strong>Izquierdo</strong></th>
                                        <th><strong>Derecho</strong></th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    <tr>
                                        <td>Pectoral Menor</td>
                                        <td class="osteo_bg_{{ osteo.pectoralis_minor_l }}">{{ osteo.pectoralis_minor_l }}</td>
                                        <td class="osteo_bg_{{ osteo.pectoralis_minor_r }}">{{ osteo.pectoralis_minor_r }}</td>
                                    </tr>
                                    <tr>
                                        <td>Pectoral Mayor</td>
                                        <td class="osteo_bg_{{ osteo.pectoralis_major_l }}">{{ osteo.pectoralis_major_l }}</td>
                                        <td class="osteo_bg_{{ osteo.pectoralis_major_r }}">{{ osteo.pectoralis_major_r }}</td>
                                    </tr>
                                    <tr>
                                        <td>Rotador Interno Hombro</td>
                                        <td class="osteo_bg_{{ osteo.shoulder_internal_rotator_l }}">{{ osteo.shoulder_internal_rotator_l }}</td>
                                        <td class="osteo_bg_{{ osteo.shoulder_internal_rotator_r }}">{{ osteo.shoulder_internal_rotator_r }}</td>
                                    </tr>
                                    <tr>
                                        <td>Rotador Externo Hombro</td>
                                        <td class="osteo_bg_{{ osteo.shoulder_external_rotator_l }}">{{ osteo.shoulder_external_rotator_l }}</td>
                                        <td class="osteo_bg_{{ osteo.shoulder_external_rotator_r }}">{{ osteo.shoulder_external_rotator_r }}</td>
                                    </tr>
                                    <tr>
                                        <td>PSOAS Ilíaco</td>
                                        <td class="osteo_bg_{{ osteo.psoas_iliaco_l }}">{{ osteo.psoas_iliaco_l }}</td>
                                        <td class="osteo_bg_{{ osteo.psoas_iliaco_r }}">{{ osteo.psoas_iliaco_r }}</td>
                                    </tr>
                                    <tr>
                                        <td>Aductores de cadera</td>
                                        <td class="osteo_bg_{{ osteo.hip_adductors_l }}">{{ osteo.hip_adductors_l }}</td>
                                        <td class="osteo_bg_{{ osteo.hip_adductors_r }}">{{ osteo.hip_adductors_r }}</td>
                                    </tr>
                                    <tr>
                                        <td>Tensor de la fascia lata</td>
                                        <td class="osteo_bg_{{ osteo.tensioner_fascia_liata_l }}">{{ osteo.tensioner_fascia_liata_l }}</td>
                                        <td class="osteo_bg_{{ osteo.tensioner_fascia_liata_r }}">{{ osteo.tensioner_fascia_liata_r }}</td>
                                    </tr>
                                    <tr>
                                        <td>Espinales bajos</td>
                                        <td class="osteo_bg_{{ osteo.low_spinal_l }}">{{ osteo.low_spinal_l }}</td>
                                        <td class="osteo_bg_{{ osteo.low_spinal_r }}">{{ osteo.low_spinal_r }}</td>
                                    </tr>
                                    <tr>
                                        <td>Isquitibiales</td>
                                        <td class="osteo_bg_{{ osteo.hamstrings_l }}">{{ osteo.hamstrings_l }}</td>
                                        <td class="osteo_bg_{{ osteo.hamstrings_r }}">{{ osteo.hamstrings_r }}</td>
                                    </tr>
                                    <tr>
                                        <td>Cuadriceps</td>
                                        <td class="osteo_bg_{{ osteo.quadriceps_l }}">{{ osteo.quadriceps_l }}</td>
                                        <td class="osteo_bg_{{ osteo.quadriceps_r }}">{{ osteo.quadriceps_r }}</td>
                                    </tr>
                                    <tr>
                                        <td>Tendón de Aquiles</td>
                                        <td class="osteo_bg_{{ osteo.achilles_tendon_l }}">{{ osteo.achilles_tendon_l }}</td>
                                        <td class="osteo_bg_{{ osteo.achilles_tendon_r }}">{{ osteo.achilles_tendon_r }}</td>
                                    </tr>
                                    <tr>
                                        <td>Columna vertebral lumbar</td>
                                        <td  class="osteo_bg_{{ osteo.spine_lumbar }}" colspan="2">{{ osteo.spine_lumbar }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <h6>Medidas reales, aparentes y circunferencias {% if request.user.role == 'ADMIN' %}<a href="#" class="badge rounded-circle" data-bs-toggle="modal" data-bs-target="#measuresOsteoModal"><i class="fs-6 material-icons">edit</i></a>{% endif %}</h6>
                        <p>No evaluado (NE).</p>

                        <div class="table-responsive mb-4">
                            <table class="table table-striped user_info_table">
                                <thead class="table-dark">
                                    <tr>
                                        <th><strong>Medidas Reales | CM</strong></th>
                                        <th><strong>Izquierdo</strong></th>
                                        <th><strong>Derecho</strong></th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    <tr>
                                        <td>Miembro superior</td>
                                        <td>{{ osteo.real_upper_l }}</td>
                                        <td>{{ osteo.real_upper_r }}</td>
                                    </tr>
                                    <tr>
                                        <td>Miembro inferior</td>
                                        <td>{{ osteo.real_lower_l }}</td>
                                        <td>{{ osteo.real_lower_r }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive mb-4">
                            <table class="table table-striped user_info_table">
                                <thead class="table-dark">
                                    <tr>
                                        <th><strong>Medidas Aparentes | CM</strong></th>
                                        <th><strong>Izquierdo</strong></th>
                                        <th><strong>Derecho</strong></th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    <tr>
                                        <td>Miembro superior</td>
                                        <td>{{ osteo.apparent_upper_l }}</td>
                                        <td>{{ osteo.apparent_upper_r }}</td>
                                    </tr>
                                    <tr>
                                        <td>Miembro inferior</td>
                                        <td>{{ osteo.apparent_lower_l }}</td>
                                        <td>{{ osteo.apparent_lower_r }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="table-responsive">
                            <table class="table table-striped user_info_table">
                                <thead class="table-dark">
                                    <tr>
                                        <th><strong>Trofismo muscular | CM</strong></th>
                                        <th><strong>Izquierdo</strong></th>
                                        <th><strong>Derecho</strong></th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    <tr>
                                        <td>Brazo</td>
                                        <td>{{ osteo.arm_l_mt }}</td>
                                        <td>{{ osteo.arm_r_mt }}</td>
                                    </tr>
                                    <tr>
                                        <td>Antebrazo</td>
                                        <td>{{ osteo.forearm_l_mt }}</td>
                                        <td>{{ osteo.forearm_r_mt }}</td>
                                    </tr>
                                    <tr>
                                        <td>Muslo</td>
                                        <td>{{ osteo.thigh_l_mt }}</td>
                                        <td>{{ osteo.thigh_r_mt }}</td>
                                    </tr>
                                    <tr>
                                        <td>Pierna</td>
                                        <td>{{ osteo.leg_l_mt }}</td>
                                        <td>{{ osteo.leg_r_mt }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <hr>

                
            </div>
            <div class="tab-pane fade{% if request.GET.tab == 'fms' %} show active {% endif %}" id="fms" role="tabpanel" aria-labelledby="fms-tab">              
                <h6>FMS {% if request.user.role == 'ADMIN' %}<a href="#" class="badge rounded-circle" data-bs-toggle="modal" data-bs-target="#fmsModal"><i class="fs-6 material-icons">edit</i></a>{% endif %}</h6>
                {% include './inc/fms_tab.html' with fms=fms athlete=user.athlete %}
            </div>
            <div class="tab-pane fade {% if request.GET.tab == 'neuro' %} show active {% endif %}" id="neuro" role="tabpanel" aria-labelledby="neuro-tab">
                {% include './inc/neuro_tab.html' with jump=jump athlete=user.athlete %}
            </div>
            <div class="tab-pane fade {% if request.GET.tab == 'bilateral' %} show active {% endif %}" id="deficit" role="tabpanel" aria-labelledby="deficit-tab">
                {% include './inc/bilateral_tab.html' with bilaterals=bilaterals athlete=athlete %}
            </div>
            <div class="tab-pane fade {% if request.GET.tab == 'profile' %} show active {% endif %}" id="profile" role="tabpanel" aria-labelledby="deficit-tab">
                {% include './inc/profile_tab.html' with profiles=profiles athlete=athlete %}
            </div>
        </div>
        
        
        <div style="width:90%; position: absolute; z-index:-1; visibility: hidden;" class="graph_wrapper">
            {{ fig|safe }}
        </div>
            
        </ul>
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if 'error' in message.tags %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    {% if request.user.role != 'MANAGER' %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Información Personal</h5>
                    <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                </div>
                <form action="{% url 'users:user_update' user.id %}" method='post'>
                <div class="modal-body">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">Nombre</label>
                                    <input class="form-control" type="text" name="first_name" value="{% if user.first_name %}{{ user.first_name }}{% endif %}">
                                </div>

                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">Email</label>
                                    <input class="form-control" type="email" name="email" value="{% if user.email %}{{ user.email }}{% endif %}">
                                </div>

                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">Cédula</label>
                                    <input class="form-control" type="text" name="document" value="{% if user.document %}{{ user.document }}{% endif %}">
                                </div>

                                <div class="input-group input-group-outline mb-3 is-focus is-upper">
                                    <label class="form-label">Nacimiento</label>
                                    <input class="form-control" type="date" name="birthdate" value="{% if user.athlete.birthdate %}{{ user.athlete.birthdate| date:'Y-m-d' }}{% endif %}">
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">Apellido</label>
                                    <input class="form-control" type="text" name="last_name" value="{% if user.last_name %}{{ user.last_name }}{% endif %}">
                                </div>

                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">Teléfono</label>
                                    <input class="form-control" type="text" name="phone" value="{% if user.phone %}{{ user.phone }}{% endif %}">
                                </div>


                                <div class="input-group input-group-outline mb-3 is-upper">
                                    <label class="form-label">Género</label>
                                    <select class="form-control" name="gender" id="gender" value="{% if user.athlete.gender %}{{ user.athlete.gender }}{% endif %}">
                                        <option value="">Selecciona</option>
                                        <option {% if user.athlete.gender == 'M' %} selected {% endif %} value="M">Masculino</option>
                                        <option {% if user.athlete.gender == 'F' %} selected {% endif %} value="F">Femenino</option>
                                        <option {% if user.athlete.gender == 'O' %} selected {% endif %} value="O">Otro</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <input type="text" name="type" value="basic" hidden>
                        <input type="text" placeholder="id" name="id" value="{{ user.id }}" hidden>
                        
                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">Guardar</button>
                    <a href="#" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</a>
                </div>
            </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="sportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Información Deportiva</h5>
                    <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                </div>
                <form action="{% url 'users:user_update' user.id %}" method='post'>
                <div class="modal-body">
                        {% csrf_token %}
                        <div class="input-group input-group-outline mb-3">
                            <label class="form-label">Equipo</label>
                            <input class="form-control" type="text" name="team" value="{% if user.athlete.team %}{{ user.athlete.team }}{% endif %}">
                        </div>
                        <div class="input-group input-group-outline mb-3">
                            <label class="form-label">Deporte</label>
                            <input class="form-control" type="text" name="sport" value="{% if user.athlete.sport %}{{ user.athlete.sport }}{% endif %}">
                        </div>
                    
                        <input type="text" name="id" value="{{ user.id }}" hidden>
                        <input type="text" name="type" value="sport" hidden>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">Guardar</button>
                        <a href="#" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="measuresModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Medidas</h5>
                    <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                </div>
                <form action="{% url 'users:user_update' user.id %}" method='post'>
                <div class="modal-body">
                        {% csrf_token %}
                        <div class="input-group input-group-outline mb-3">
                            <label class="form-label">Talla</label>
                            <input class="form-control" type="text" name="size" value="{% if user.athlete.size %}{{ user.athlete.size }}{% endif %}">
                        </div>
                        <div class="input-group input-group-outline mb-3">
                            <label class="form-label">Peso</label>
                            <input class="form-control" type="text" name="weight" value="{% if user.athlete.weight %}{{ user.athlete.weight }}{% endif %}">
                        </div>

                        <input type="text" name="type" value="measures" hidden>
                        <input type="text" placeholder="id" name="id" value="{{ user.id }}" hidden>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">Guardar</button>
                        <a href="#" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="healthModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Salud</h5>
                    <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                </div>
                <form action="{% url 'users:user_update' user.id %}" method='post'>
                <div class="modal-body">
                        {% csrf_token %}
                        <div class="input-group input-group-outline mb-3">
                            <label class="form-label">EPS</label>
                            <input class="form-control" type="text" name="eps" value="{% if user.athlete.eps %}{{ user.athlete.eps }}{% endif %}">
                        </div>

                        <input type="text" name="type" value="health" hidden>
                        <input type="text" placeholder="id" name="id" value="{{ user.id }}" hidden>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">Guardar</button>
                        <a href="#" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="legalModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Legal</h5>
                    <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                </div>
                <form action="{% url 'users:user_update' user.id %}" method='post'>
                <div class="modal-body">
                        {% csrf_token %}
                        <div class="input-group input-group-outline mb-3 is-upper">
                            <label class="form-label">Manager</label>
                            <select class="form-control" name="manager" id="manager" value="{% if user.athlete.manager %}{{ user.athlete.manager }}{% endif %}">
                                <option value="">Escoge el empresario</option>
                                {% if user.athlete.manager %}
                                    <option value="{{ user.athlete.manager.id }}" selected>{{ user.athlete.manager }}</option>
                                {% endif %}
                
                                {% if managers %}
                                {% for manager in managers %}
                                    {% if manager.id != user.athlete.manager.id %}
                                    <option value="{{ manager.id }}">{{ manager }}</option>
                                    {% endif %}
                                {% endfor %}
                                {% else %}
                                    no managers
                                {% endif %}
                            </select>
                        </div>
            

                        <input type="text" name="type" value="legal" hidden>
                        <input type="text" placeholder="id" name="id" value="{{ user.id }}" hidden>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">Guardar</button>
                        <a href="#" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    {% include './inc/osteo_pain_modal.html' %}
    {% include './inc/osteo_measures_modal.html' %}
    {% include './inc/osteo_flex_modal.html' %}
    {% include './inc/fms_modal.html' %}

    
    {% endif %}
    {% comment %} end if edit user permission {% endcomment %}

    {% else %}
    <h2>No tienes permiso de ver este usuario</h2>
    {% endif %} 
    {% comment %} end if user permission {% endcomment %}

{% endblock  %}


