{% extends 'layout/base.html' %}

{% block container %}
    <a class="mb-3 btn btn-sm" href="{% url 'users:index' %}">
        <i class="material-icons">arrow_back</i>
        deportistas
    </a>

    {% if user.athlete.manager == request.user or request.user.role != 'MANAGER' %}
    <h2>{{user.first_name}} {{user.last_name}}</h2>
    
    <ul>
        <li>Edad: {% if user.athlete.age %} {{ user.athlete.age }} {% else %} --- {% endif %}</li>
        <li>Género: {% if user.athlete.gender %} {{ user.athlete.gender }} {% else %} --- {% endif %}</li>
        <li>Email: {% if user.email %} <a href="mailto:{{ user.email }}" target="blank">{{ user.email }}</a> {% else %} --- {% endif %}</li>
        <li>Teléfono: {% if user.phone %} {{ user.phone }} {% else %} --- {% endif %}</li>
        <li>Fecha de nacimiento: {% if user.athlete.birthdate %}{{ user.athlete.birthdate }} {% else %} --- {% endif %}</li>
        <li>Manager: {% if user.athlete.manager %}<a href="{% url 'users:manager_detail' user.athlete.manager.id %}">{{ user.athlete.manager }}</a>{% else %}No Asignado{% endif %}</li>
        
    </ul>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if 'error' in message.tags %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endif %}

            {% endfor %}
        </ul>
    {% endif %}

    {% if request.user.role != 'MANAGER' %}
    <form action="{% url 'users:user_update' user.id %}" method='post'>
        {% csrf_token %}
        <input type="text" placeholder="text" name="first_name" value="{{ user.first_name }}">
        <input type="text" placeholder="text" name="last_name" value="{{ user.last_name }}">
        <input type="email" placeholder="Email" name="email" value="{{ user.email }}">
        <input type="text" placeholder="Teléfono" name="phone" value="{{ user.phone }}">
        <input type="date" name="birthdate" value="{{ user.athlete.birthdate| date:'Y-m-d' }}">
        <select name="gender" id="gender">
            <option value="">Género</option>
            <option {% if user.athlete.gender == 'M' %} selected {% endif %} value="M">Masculino</option>
            <option {% if user.athlete.gender == 'F' %} selected {% endif %} value="F">Femenino</option>
            <option {% if user.athlete.gender == 'O' %} selected {% endif %} value="O">Otro</option>
        </select>

        <select name="manager" id="manager">
            <option value="">Escoge el empresario</option>
            {% if user.athlete.manager %}
                <option value="{{ user.athlete.manager.id }}" selected>{{ user.athlete.manager }}</option>
            {% endif %}

            {% if managers %}
            {% for manager in managers %}
                {% if manager.id != user.athlete.manager.id %}
                <option value="{{ manager.id }}">{{ manager }}</option>
                {% endif %}
            {% endfor %}
            {% else %}
                no managers
            {% endif %}
        </select>

        <input type="text" placeholder="id" name="id" value="{{ user.id }}" hidden>
        <button>Enviar</button>
    </form>
    {% endif %}
    {% comment %} end if edit user permission {% endcomment %}

    {% else %}
    <h2>No tienes permiso de ver este usuario</h2>
    {% endif %} 
    {% comment %} end if user permission {% endcomment %}

{% endblock  %}


