{% extends 'layout/base.html' %}

{% block container %}

    <h1>Deportistas</h1>

    {% if users %}
        <ul>
            {% for user in users %}
                {% if user.athlete.manager == request.user or request.user.role == 'ADMIN' %}
                    <li><a href="{% url 'users:user_detail' user.id %}">{{ user.first_name }} {{ user.last_name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; primera</a>
                <a href="?page={{ page_obj.previous_page_number }}">previa</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endblock %}


{% block extrajs %}
    {% if messages %}
        {% for message in messages %}
            {% if 'success' in message.tags %}
            <div class="success-message">{{ message }}</div>
            <script>
                swal({
                    icon: 'success',
                    title: "{{ message }}",
                    timer: 1500
                  });
            </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

    