{% extends 'layout/base.html' %}

{% block container %}

    <h5>Deportistas</h5>

    {% if has_athletes or request.user.role == 'ADMIN' %}

    <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary rounded pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Listado de deportistas</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nombre Completo</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Teléfono</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Manager</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if users %}
                        {% for user in users %}
                            {% if user.athlete.manager == request.user or request.user.role == 'ADMIN' %}
                            <tr>
                            <td>
                                <p class="text-xs font-weight-bold mb-0"><a href="{% url 'users:user_detail' user.id %}">{{ user.first_name }} {{ user.last_name }}</a></p>
                            </td>
                            <td>
                                <p class="text-xs font-weight-bold mb-0"><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                            </td>
                            <td>
                                <p class="text-xs font-weight-bold mb-0">{{ user.phone }}</p>
                            </td>
                            <td>
                                <p class="text-xs font-weight-bold mb-0"><a href="{% url 'users:manager_detail' user.athlete.manager.id %}">{{ user.athlete.manager }}</a></p>
                            </td>
                            <td>
                                <a href="{% url 'users:user_detail' user.id %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                Ver
                                </a>
                            </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; primera</a>
                <a href="?page={{ page_obj.previous_page_number }}">previa</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>

    {% else %}
    <h3>No tienes deportistas asociados aun.</h3>
    {% endif %}
    
    {% endblock %}


{% block extrajs %}
    {% if messages %}
        {% for message in messages %}
            {% if 'success' in message.tags %}
            <div class="success-message">{{ message }}</div>
            <script>
                swal({
                    icon: 'success',
                    title: "{{ message }}",
                    timer: 1500
                  });
            </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

    