{% extends 'layout/base_auth.html' %}

{% load static %}

{% block content %}

        <div class="box rounded">
            <div class="logo rounded">
                {% comment %} <img src="{% static 'images/american-logo.jpg' %}" alt=""> {% endcomment %}
            </div>
            <h1>Login</h1>
            {% if form.errors %}
            <p class="p-2 alert alert-danger">
                Username o contraseña inválida
            </p>
            {% endif %}
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="username" class="form-control" value="{% if form.errors %}{{ form.username.value }}{% endif %}" placeholder="Usuario">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" value="{% if errors %}{{ form.password.value }}{% endif %}" placeholder="Contraseña">
                </div>
                {% comment %} {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                {% endif %} {% endcomment %}
                <button class="btn btn-md btn-primary">Iniciar Sesión</button>
            </form>
        </div>


{% endblock %}

{% load static %}