{% extends 'layout/base.html' %}

{% block container %}

    {% if request.user.role != 'MANAGER' %}
    <h1>Empresarios</h1>

    {% if users %}
        <ul>
            {% for user in users %}
                <li><a href="{% url 'users:manager_detail' user.id %}">{{ user.first_name }} {{ user.last_name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% else %}
        <h2>No tienes acceso a esta zona</h2>
    {% endif %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; primera</a>
                <a href="?page={{ page_obj.previous_page_number }}">previa</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}