{% extends 'layout/base.html' %}

{% block container %}

    <a class="mb-3 btn btn-sm" href="{% url 'users:managers' %}">
        <i class="material-icons">arrow_back</i>
        Empresarios
    </a>

    <h2>{{user.first_name}} {{user.last_name}}</h2>
    
    <ul>
        <li>Email: {% if user.email %} <a href="mailto:{{ user.email }}" target="blank">{{ user.email }}</a> {% else %} --- {% endif %}</li>
        <li>Teléfono: {% if user.phone %} {{ user.phone }} {% else %} --- {% endif %}</li>
    </ul>

    <h3>Jugadores</h3>

    <ul>
        {% for Athlete in user.Athlete.all %}
            <li><a href="{% url 'users:user_detail' Athlete.user.id %}">{{ Athlete.user }}</a></li>
        {% endfor %}
    </ul>


    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="{% url 'users:user_update' user.id %}" method='post'>
        {% csrf_token %}
        <input type="text" placeholder="text" name="first_name" value="{{ user.first_name }}">
        <input type="text" placeholder="text" name="last_name" value="{{ user.last_name }}">
        <input type="number" placeholder="Teléfono" name="phone" value="{{ user.phone }}">
        <input type="email" placeholder="Email" name="email" value="{{ user.email }}">
        <input type="text" placeholder="id" name="id" value="{{ user.id }}" hidden>
        <button>Enviar</button>
    </form>
{% endblock  %}
