{% extends 'layout/base.html' %}

{% block container %}

    <h5>Empresarios</h5>

    {% if request.user.role == 'ADMIN' %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary rounded pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Listado de empresarios</h6>
                    </div>
                </div>

                <div class="card-body px-0 pb-2">
                    <div class="filter px-3">
                        <form method="get">
                          <div class="row">
                            <div class="col-2">
                              <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Nombre</label>
                                {{ filter.form.first_name}}
                              </div>  
                            </div>
        
                            <div class="col-2">
                              <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Apellido</label>
                                {{ filter.form.last_name}}
                              </div>  
                            </div>
        
                            <div class="col-2">
                              <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Documento</label>
                                {{ filter.form.document}}
                              </div>  
                            </div>
                            <div class="col-2">
                              <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Email</label>
                                {{ filter.form.email}}
                              </div>  
                            </div>
                            <div class="col-2">
                              <button style="height: 35px;" class="mt-0 py-2 px-4 btn btn-primary">Buscar</button>
                            </div>
                          </div>
                        </form>
                      </div>

                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nombre Completo</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Teléfono</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% if filter.qs %}
                                {% for user in filter.qs %}
                                <tr>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0"><a href="{% url 'users:manager_detail' user.id %}">{{ user.first_name }} {{ user.last_name }}</a></p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0"><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{ user.phone }}</p>
                                    </td>
                                    <td>
                                        <a href="{% url 'users:manager_detail' user.id %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                            Ver
                                        </a>
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    {% else %}
        <h2>No tienes acceso a esta zona</h2>
    {% endif %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; primera</a>
                <a href="?page={{ page_obj.previous_page_number }}">previa</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}