{% extends 'layout/base.html' %}

{% block container %}

    {% if request.user.role == 'ADMIN' %}
    <h1>Empresarios</h1>

    <div class="card">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary rounded pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Listado de empresarios</h6>
            </div>
        </div>

        <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nombre Completo</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Teléfono</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% if users %}
                        {% for user in users %}
                        <tr>
                            <td>
                                <p class="text-xs font-weight-bold mb-0"><a href="{% url 'users:manager_detail' user.id %}">{{ user.first_name }} {{ user.last_name }}</a></p>
                            </td>
                            <td>
                                <p class="text-xs font-weight-bold mb-0"><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                            </td>
                            <td>
                                <p class="text-xs font-weight-bold mb-0">{{ user.phone }}</p>
                            </td>
                            <td>
                                <a href="{% url 'users:manager_detail' user.id %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                    Ver
                                </a>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    

    {% else %}
        <h2>No tienes acceso a esta zona</h2>
    {% endif %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; primera</a>
                <a href="?page={{ page_obj.previous_page_number }}">previa</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}