
{% extends "layout/base.html" %}


{% block container %}

    <h1>Registro de empresario</h1>

    {% if error %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif %}

    
    <form action="{% url 'users:signup' %}" method="POST">
        {% csrf_token %}

        
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Nombre" name="first_name" required="true" />
        </div>
        
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Apellido" name="last_name" required="true" />
        </div>
        
        <div class="form-group">
            <input class="form-control" type="email" placeholder="Email" name="email" required="true" />
            <input class="form-control" type="text" name="role" value="MANAGER" hidden />
        </div>
        
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Teléfono" name="phone" />
        </div>
        
        <div class="form-group">
            <input class="form-control" type="password" placeholder="Contraseña" name="passwd" required="true" />
        </div>

        <div class="form-group">
            <input class="form-control" type="password" placeholder="Confirmar contraseña" name="passwd_confirmation" required="true" />
        </div>

        <button class="btn btn-primary btn-block mt-5" type="submit">Agregar Empresario</button>

    </form>

{% endblock %}