{% extends 'layout/base.html' %}

{% block container %}

    {% if user == request.user or request.user.role != 'MANAGER' %}

    <div class="row">
        <div class="col-sm-4">
            <div class="card user card-body p-4">
                <h3 class="title">{{user.first_name}} {{user.last_name}}</h3>

                <div class="collapse user_nav mt-1" id="userNavCollapse">
                    {% include './inc/account_nav.html' %}
                </div>
                
                <h6>Cambio de contraseña</h6>
                <p>Contraseña Actualizada</p>
            </div>
        </div>
    </div>

    {% else %}
    <h2>No tienes acceso a este usuario</h2>
    {% endif %}
{% endblock  %}

