{% extends 'layout/base_auth.html' %}

{% load static %}

{% block content %}
        <div class="row">
            <div class="col-lg-5 col-md-6 col-12 mx-auto">
                <div class="card login p-2">

                    <div class="card-header z-index-2">
                        <div class="bg-gradient-primary rounded shadow py-3">
                          <h4 class="text-white font-weight-bolder text-center mt-0 mb-0">Nueva contraseña | Métricas</h4>
                        </div>
                    </div>

                    <h1 class="mx-auto mb-3"><img src="{% static 'img/dinametrics-logo.png' %}" alt="Dinametrics logo" width="250"></h1>
                    {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in form.errors.items %}
                                <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    {% if validlink %}
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label" for="id_new_password1">Nueva contraseña</label>
                                <input type="password" name="new_password1" autocomplete="new-password"
                                        class="form-control" required id="id_new_password1" />
                            </div>

                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label" for="id_new_password2">Confirmar contraseña</label>
                                <input type="password" name="new_password2" autocomplete="new-password"
                                        class="form-control" required id="id_new_password2" />
                            </div>
                            
                            <button class="w-100 btn btn-md btn-primary">Cambiar Contraseña</button>
                        </form>
                    </div>
                    {% else %}
                    <div class="alert">
                        El link de cambio de contraseña es inválido. Es posible que ya haya sido usado.
                        Por favor solicita un nuevo cambio de contraseña en el siguiente enlace.
                        <a style="text-decoration: underline;" href="{% url 'password_reset' %}">Recuperar Contraseña</a>
                    </div>
                    {% endif %}

                    <div class="card-footer d-block pt-0">
                        <a class="text-center d-block" href="{% url 'users:index' %}">Iniciar Sessión</a>
                    </div>
                </div>

            </div>
        </div>


{% endblock %}

{% load static %}