{% extends 'layout/base_auth.html' %}

{% load static %}

{% block content %}
        <div class="row">
            <div class="col-lg-5 col-md-6 col-12 mx-auto">
                <div class="card login p-2">

                    <div class="card-header z-index-2">
                        <div class="bg-gradient-primary rounded shadow py-3">
                          <h4 class="text-white font-weight-bolder text-center mt-0 mb-0">Cambia tu conrtaseña | Métricas</h4>
                        </div>
                    </div>

                    <h1 class="mx-auto mb-3"><img src="{% static 'img/dinametrics-logo.png' %}" alt="Dinametrics logo" width="250"></h1>
                    {% if form.errors %}
                    <p class="p-2 alert alert-danger">
                        Email inválido
                    </p>
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in form.errors.items %}
                                <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}

                    
                    <div class="card-body">

                        {% if messages %}
                        {% for msg in messages %}
                        <h3 class="text-center">{{msg}}</h3>
                        {% endfor %}

                        {% else %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="input-group input-group-outline mb-3">
                                <label for="" class="form-label">Email</label>
                                <input type="text" name="email" class="form-control" value="{% if form.errors %}{{ form.email.value }}{% endif %}">
                            </div>
                            
                            <button class="w-100 btn btn-md btn-primary">Cambiar Contraseña</button>
                        </form>
                        {% endif %}

                    </div>

                    <div class="card-footer d-block pt-0">
                        <a class="text-center d-block" href="{% url 'users:index' %}">Iniciar Sessión</a>
                    </div>
                </div>

            </div>
        </div>


{% endblock %}

{% load static %}