{% extends 'layout/base.html' %}

{% block container %}

    {% if user == request.user or request.user.role != 'MANAGER' %}

    <div class="row">
        <div class="col-sm-4">
            <div class="card user card-body p-4">
                <h3 class="title">{{user.first_name}} {{user.last_name}}</h3>

                <div class="collapse user_nav mt-1" id="userNavCollapse">
                    {% include './inc/account_nav.html' %}
                </div>
                
                <h6>Cambio de contraseña</h6>
                <form action="{% url 'users:password_change' %}" method="POST">
                    {% csrf_token %}

                    <div class="input-group input-group-outline mb-3 {% if form.old_password.errors %}alert_field{% endif %}">
                        <label class="form-label" for="">Contraseña Antigua</label>
                        <input class="form-control" type="password" name="old_password" value="{% if form.old_password.errors %}{{ form.old_password.value }}{% endif %}">
                        {% if form.old_password.errors %}
                            {% for e in form.old_password.errors %}
                                <p class="msg text-danger">{{ e }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    
                    <div class="input-group input-group-outline mb-3 {% if form.last_name.errors %}alert_field{% endif %}">
                        <label class="form-label" for="">Contraseña Nueva</label>
                        <input class="form-control" type="password" name="new_password1" value="{% if form.new_password1.errors %}{{ form.new_password1.value }}{% endif %}">
                        {% if form.new_password1.errors %}
                            {% for e in form.new_password1.errors %}
                                <p class="msg text-danger">{{ e }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    
                    <div class="input-group input-group-outline mb-3 {% if form.last_name.errors %}alert_field{% endif %}">
                        <label class="form-label" for="">Repite la nueva contraseña</label>
                        <input class="form-control" type="password" name="new_password2" value="{% if form.new_password2.errors %}{{ form.new_password2.value }}{% endif %}">
                        {% if form.new_password2.errors %}
                            {% for e in form.new_password2.errors %}
                                <p class="msg text-danger mb-1">{{ e }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="help" id="id_new_password1_helptext">
                        <ul>
                            <li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
                            <li>Su contraseña debe contener al menos 8 caracteres.</li>
                            <li>Su contraseña no puede ser una clave utilizada comúnmente.</li>
                            <li>Su contraseña no puede ser completamente numérica.</li>
                        </ul>
                    </div>
                    
                    <button class="btn btn-primary w-100" >Cambiar Contraseña</button>
                </form>
            </div>
        </div>
    </div>

    {% else %}
    <h2>No tienes acceso a este usuario</h2>
    {% endif %}

{% endblock  %}

