{% extends 'layout/detail_base.html' %}

{% block user %}
<hr>
{% load static %}
<div class="row">
    <div class="loading_report_wrapper">
        <div class="loading_report">
            <img src="{% static 'img/loading.gif' %}" width="50" alt="">
            <h3>Generando Reporte</h3>
        </div>
    </div>
    
    <div class="col-sm-6">
        <h5 class="mb-0"><strong>Reporte Completo</strong></h5>
        <p class="mb-0">Revisa la información y descárgala en PDF</p>
    </div>
    <div class="col-sm-6 text-right">
        {% if request.user.role == 'ADMIN' %}
        <a id="generate" class="generate btn btn-primary" href="#!"><i class="mr-2 material-icons">download</i>Descargar PDF</a>
        {% endif %}
    </div>
</div>

<hr>
<div class="source_wrapper" style="cursor: grab; overflow-x: scroll;">
    <div style="width:1000px;">
        <div class="source">
            <div class="row iframe_sibling first">
                <div class="col-2 col-sm-6 col-lg-2 text-center">
                    <div class="picture" style="margin:auto; margin-bottom: 10px;">
                        <img width="100" src="{% if user.picture %}{{ user.picture.url }}{% else %}/static/img/profile_pic.jpg{% endif %}" alt="">
                    </div>
                    <h6>{{user.first_name}} {{user.last_name}}</h6>
                    
                </div>

                <div class="col-3 col-lg-3">
                    <h6>Información Personal</h6>
                    <ul class="list-group">
                        <li class="list-group-item p-0"><strong>Cédula:</strong> {% if user.document %} {{ user.document }} {% else %} --- {% endif %}</li>
                        <li class="list-group-item p-0"><strong>Nacimiento:</strong> {% if user.athlete.birthdate %}{{ user.athlete.birthdate }} {% else %} --- {% endif %}</li>
                        <li class="list-group-item p-0"><strong>Edad:</strong> {% if user.athlete.age %} {{ user.athlete.age }} {% else %} --- {% endif %}</li>
                        <li class="list-group-item p-0"><strong>Género:</strong> {% if user.athlete.gender %} {{ user.athlete.gender }} {% else %} --- {% endif %}</li>
                        <li class="list-group-item p-0"><strong>Teléfono:</strong> {% if user.phone %} {{ user.phone }} {% else %} --- {% endif %}</li>
                        <li class="list-group-item p-0"><strong>Email:</strong> {% if user.email %} <a href="mailto:{{ user.email }}" target="blank">{{ user.email }}</a> {% else %} --- {% endif %}</li>
                    </ul>
                </div>

                <div class="col-3 col-sm-6 col-lg-3">
                    <h6>Información Deportiva</h6>
                    <ul class="list-group">
                    <li class="list-group-item p-0"><strong>Equipo:</strong> {% if user.athlete.team %} {{ user.athlete.team }} {% else %} --- {% endif %}</li>
                    <li class="list-group-item p-0"><strong>Deporte:</strong> {% if user.athlete.sport %} {{ user.athlete.sport }} {% else %} --- {% endif %}</li>
                    </ul>

                    <ul class="list-group">
                    <h6>Medidas</h6>
                    <li class="list-group-item p-0"><strong>Talla:</strong> {% if user.athlete.size %} {{ user.athlete.size }} {% else %} --- {% endif %}</li>
                    <li class="list-group-item p-0"><strong>Peso:</strong> {% if user.athlete.weight %} {{ user.athlete.weight }} {% else %} --- {% endif %}</li>
                    </ul>
                </div>
                
                <div class="col-3 col-sm-6 col-lg-3">
                    <h6>Salud</h6>
                    <ul class="list-group">
                    <li class="list-group-item p-0"><strong>EPS:</strong> {% if user.athlete.eps %} {{ user.athlete.eps }} {% else %} --- {% endif %}</li>
                    </ul>

                    <h6>Legal</h6>
                    <ul class="list-group">
                    <li class="list-group-item p-0"><strong>Manager:</strong> {% if user.athlete.manager %}<a href="{% url 'users:manager_detail' user.athlete.manager.id %}">{{ user.athlete.manager }}</a>{% else %}No Asignado{% endif %}</li>
                    </ul>
                </div>
                <hr>
            </div>


            {% comment %} Osteomuscular {% endcomment %}
            {% if osteo %}
            <iframe class="frame second" width="100%" height="1080" src="{% url 'users:report_osteo' user.id %}" frameborder="0" scrolling="no"></iframe>
            {% endif %}
            
        </div>

        {% if fms %}
        <div class="source">
            <h3>FMS</h3>
        </div>
        {% endif %}
        
        {% if fat_graph or jumps %}
        <div class="source">
            {% if fat_graph %}
            <h3>Grasa</h3>
            <hr>

            <div class="notes">
                <h6>Observaciones</h6>

                {% if fat_observation %}
                <p class="ml-2">{{fat_observation.observation}}</p>
                {% endif %}
            </div>
            <div class="graph_wrapper">
                <div class="loader" data-html2canvas-ignore="true">
                    <span>Cargando Gráfico</span>
                    <div class="lds-ripple"><div></div><div></div></div>
                </div>
                <div class="graph_inner">
                    {{ fat_graph|safe }}
                </div>
            </div>
            <hr>
            {% endif %}

            {% if jumps %}
            <h3>Neuromuscular</h3>
            <hr>

            <div class="notes">
                <h6>Observaciones</h6>

                {% if neuro_observations %}
                <p class="ml-2">{{neuro_observations.observations}}</p>
                {% endif %}
            </div>
            <div class="graph_wrapper">
                <div class="loader" data-html2canvas-ignore="true">
                    <span>Cargando Gráfico</span>
                    <div class="lds-ripple"><div></div><div></div></div>
                </div>
                <div class="graph_inner">
                    {{ fig|safe }}
                </div>
            </div>
            <hr>
            {% endif %}

        </div>
        {% endif %}


        {% if graph or fv_graph %}
        <div class="source">
            {% comment %} Bilateral {% endcomment %}
            {% if graph %}
            <iframe class="frame first" width="100%" height="650" src="{% url 'users:report_bilateral' user.id %}" frameborder="0" scrolling="no"></iframe>
            <hr>
            {% endif %}


            {% comment %} Perfil FV {% endcomment %}
            {% if fv_graph %}
            <div class="iframe_sibling second">
                <h3>Perfil F/V</h3>
    
                <h6>Observaciones</h6>
                {% if fv_observations %}
                <p class="ml-2">{{fv_observations.observation}}</p>
                {% endif %}
    
                <div class="graph_wrapper">
                    <div class="loader">
                        <span>Cargando Gráfico</span>
                        <div class="lds-ripple"><div></div><div></div></div>
                    </div>
                    <div class="graph_inner">
                        {{ fv_graph|safe }}
                    </div>
    
                </div>
            </div>
            {% endif %}
        </div> 
        {% endif %}
    </div>
</div>


<div class="source_mobile">
    <div>
        <div class="row">
            <div class="col-sm-6 col-lg-2 text-center">
                <div class="picture" style="margin:auto; margin-bottom: 10px;">
                    <img width="100" src="{% if user.picture %}{{ user.picture.url }}{% else %}/static/img/profile_pic.jpg{% endif %}" alt="">
                </div>
                <h6>{{user.first_name}} {{user.last_name}}</h6>
                
            </div>
    
            <div class="col-lg-3">
                <h6>Información Personal</h6>
                <ul class="list-group">
                    <li class="list-group-item p-0"><strong>Cédula:</strong> {% if user.document %} {{ user.document }} {% else %} --- {% endif %}</li>
                    <li class="list-group-item p-0"><strong>Nacimiento:</strong> {% if user.athlete.birthdate %}{{ user.athlete.birthdate }} {% else %} --- {% endif %}</li>
                    <li class="list-group-item p-0"><strong>Edad:</strong> {% if user.athlete.age %} {{ user.athlete.age }} {% else %} --- {% endif %}</li>
                    <li class="list-group-item p-0"><strong>Género:</strong> {% if user.athlete.gender %} {{ user.athlete.gender }} {% else %} --- {% endif %}</li>
                    <li class="list-group-item p-0"><strong>Teléfono:</strong> {% if user.phone %} {{ user.phone }} {% else %} --- {% endif %}</li>
                    <li class="list-group-item p-0"><strong>Email:</strong> {% if user.email %} <a href="mailto:{{ user.email }}" target="blank">{{ user.email }}</a> {% else %} --- {% endif %}</li>
                </ul>
            </div>
    
            <div class="col-sm-6 col-lg-3">
                <h6>Información Deportiva</h6>
                <ul class="list-group">
                <li class="list-group-item p-0"><strong>Equipo:</strong> {% if user.athlete.team %} {{ user.athlete.team }} {% else %} --- {% endif %}</li>
                <li class="list-group-item p-0"><strong>Deporte:</strong> {% if user.athlete.sport %} {{ user.athlete.sport }} {% else %} --- {% endif %}</li>
                </ul>
    
                <ul class="list-group">
                <h6>Medidas</h6>
                <li class="list-group-item p-0"><strong>Talla:</strong> {% if user.athlete.size %} {{ user.athlete.size }} {% else %} --- {% endif %}</li>
                <li class="list-group-item p-0"><strong>Peso:</strong> {% if user.athlete.weight %} {{ user.athlete.weight }} {% else %} --- {% endif %}</li>
                </ul>
            </div>
            
            <div class="col-sm-6 col-lg-3">
                <h6>Salud</h6>
                <ul class="list-group">
                <li class="list-group-item p-0"><strong>EPS:</strong> {% if user.athlete.eps %} {{ user.athlete.eps }} {% else %} --- {% endif %}</li>
                </ul>
    
                <h6>Legal</h6>
                <ul class="list-group">
                <li class="list-group-item p-0"><strong>Manager:</strong> {% if user.athlete.manager %}<a href="{% url 'users:manager_detail' user.athlete.manager.id %}">{{ user.athlete.manager }}</a>{% else %}No Asignado{% endif %}</li>
                </ul>
            </div>
        </div>
    
        <hr>
    
        <div>
            <h3>FMS</h3>
            <h6>Evaluación dolor, sensibilidad, inflamación, edema</h6>
            <p>No refiere (NR). Conservado (C). Alterado (A). No evaluado (NE). </p>
            <div class="row">
                <div class="col-sm-4">
                    <ul class="mb-0">
                        <li><strong>Dolor:</strong> {{ osteo.pain }}</li>
                        <li><strong>En reposo:</strong> {{ osteo.resting }}</li>
                        <li><strong>En movimiento:</strong> {{ osteo.moving }}</li>
                        <li><strong>A la palpación:</strong> {{ osteo.on_palpitation }}</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="mb-0">
                        <li><strong>Zona:</strong> {{ osteo.zone }}</li>
                        <li><strong>Intensidad:</strong> {{ osteo.intensity }}</li>
                        <li><strong>Sensibilidad superficial:</strong> {{ osteo.superficial_sensitivity }}</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="mb-0">
                        <li><strong>Sensibilidad profunda:</strong> {{ osteo.deep_sensitivity }}</li>
                        <li><strong>Inflamación:</strong> {{ osteo.inflammation }}</li>
                        <li><strong>Edema:</strong> {{ osteo.edema }}</li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul class="mb-0">
                        <li><strong>Observaciones:</strong> {{ osteo.observations }}</li>
                    </ul>
                </div>
            </div>
    
            <hr>
    
            <div class="row">
                <div class="col-sm-6">
                    <h6>Evaluación de flexibilidad | Retracción</h6>
                    <h5><strong class="badge badge-pill badge-warning text-dark">leve (L)</strong><strong class="badge badge-pill badge-warning-2 text-dark">Moderada (M)</strong><strong class="badge badge-pill badge-danger text-white">Severa (S)</strong><strong class="badge badge-pill badge-secondary-2 text-dark">No evaluado (NE)</strong><strong class="badge badge-pill badge-success text-white">No retracción (NR)</strong></h5>
                    
                    <div class="table-responsive">
                        <table class="table table-striped user_info_table">
                            <thead class="table-dark">
                                <tr>
                                    <th><strong>Grupo Muscular</strong></th>
                                    <th><strong>Izquierdo</strong></th>
                                    <th><strong>Derecho</strong></th>
                                </tr>
                            </thead>
    
                            <tbody>
                                <tr>
                                    <td>Pectoral Menor</td>
                                    <td class="osteo_bg_{{ osteo.pectoralis_minor_l }}">{{ osteo.pectoralis_minor_l }}</td>
                                    <td class="osteo_bg_{{ osteo.pectoralis_minor_r }}">{{ osteo.pectoralis_minor_r }}</td>
                                </tr>
                                <tr>
                                    <td>Pectoral Mayor</td>
                                    <td class="osteo_bg_{{ osteo.pectoralis_major_l }}">{{ osteo.pectoralis_major_l }}</td>
                                    <td class="osteo_bg_{{ osteo.pectoralis_major_r }}">{{ osteo.pectoralis_major_r }}</td>
                                </tr>
                                <tr>
                                    <td>Rotador Interno Hombro</td>
                                    <td class="osteo_bg_{{ osteo.shoulder_internal_rotator_l }}">{{ osteo.shoulder_internal_rotator_l }}</td>
                                    <td class="osteo_bg_{{ osteo.shoulder_internal_rotator_r }}">{{ osteo.shoulder_internal_rotator_r }}</td>
                                </tr>
                                <tr>
                                    <td>Rotador Externo Hombro</td>
                                    <td class="osteo_bg_{{ osteo.shoulder_external_rotator_l }}">{{ osteo.shoulder_external_rotator_l }}</td>
                                    <td class="osteo_bg_{{ osteo.shoulder_external_rotator_r }}">{{ osteo.shoulder_external_rotator_r }}</td>
                                </tr>
                                <tr>
                                    <td>PSOAS Ilíaco</td>
                                    <td class="osteo_bg_{{ osteo.psoas_iliaco_l }}">{{ osteo.psoas_iliaco_l }}</td>
                                    <td class="osteo_bg_{{ osteo.psoas_iliaco_r }}">{{ osteo.psoas_iliaco_r }}</td>
                                </tr>
                                <tr>
                                    <td>Aductores de cadera</td>
                                    <td class="osteo_bg_{{ osteo.hip_adductors_l }}">{{ osteo.hip_adductors_l }}</td>
                                    <td class="osteo_bg_{{ osteo.hip_adductors_r }}">{{ osteo.hip_adductors_r }}</td>
                                </tr>
                                <tr>
                                    <td>Tensor de la fascia lata</td>
                                    <td class="osteo_bg_{{ osteo.tensioner_fascia_liata_l }}">{{ osteo.tensioner_fascia_liata_l }}</td>
                                    <td class="osteo_bg_{{ osteo.tensioner_fascia_liata_r }}">{{ osteo.tensioner_fascia_liata_r }}</td>
                                </tr>
                                <tr>
                                    <td>Espinales bajos</td>
                                    <td class="osteo_bg_{{ osteo.low_spinal_l }}">{{ osteo.low_spinal_l }}</td>
                                    <td class="osteo_bg_{{ osteo.low_spinal_r }}">{{ osteo.low_spinal_r }}</td>
                                </tr>
                                <tr>
                                    <td>Isquitibiales</td>
                                    <td class="osteo_bg_{{ osteo.hamstrings_l }}">{{ osteo.hamstrings_l }}</td>
                                    <td class="osteo_bg_{{ osteo.hamstrings_r }}">{{ osteo.hamstrings_r }}</td>
                                </tr>
                                <tr>
                                    <td>Cuadriceps</td>
                                    <td class="osteo_bg_{{ osteo.quadriceps_l }}">{{ osteo.quadriceps_l }}</td>
                                    <td class="osteo_bg_{{ osteo.quadriceps_r }}">{{ osteo.quadriceps_r }}</td>
                                </tr>
                                <tr>
                                    <td>Tendón de Aquiles</td>
                                    <td class="osteo_bg_{{ osteo.achilles_tendon_l }}">{{ osteo.achilles_tendon_l }}</td>
                                    <td class="osteo_bg_{{ osteo.achilles_tendon_r }}">{{ osteo.achilles_tendon_r }}</td>
                                </tr>
                                <tr>
                                    <td>Columna vertebral lumbar</td>
                                    <td  class="osteo_bg_{{ osteo.spine_lumbar }}" colspan="2">{{ osteo.spine_lumbar }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
    
                <div class="col-sm-6">
                    <h6>Medidas reales, aparentes y circunferencias</h6>
                    <p>No evaluado (NE).</p>
    
                    <div class="table-responsive mb-4">
                        <table class="table table-striped user_info_table">
                            <thead class="table-dark">
                                <tr>
                                    <th><strong>Medidas Reales | CM</strong></th>
                                    <th><strong>Izquierdo</strong></th>
                                    <th><strong>Derecho</strong></th>
                                </tr>
                            </thead>
    
                            <tbody>
                                <tr>
                                    <td>Miembro superior</td>
                                    <td>{{ osteo.real_upper_l }}</td>
                                    <td>{{ osteo.real_upper_r }}</td>
                                </tr>
                                <tr>
                                    <td>Miembro inferior</td>
                                    <td>{{ osteo.real_lower_l }}</td>
                                    <td>{{ osteo.real_lower_r }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
    
                    <div class="table-responsive mb-4">
                        <table class="table table-striped user_info_table">
                            <thead class="table-dark">
                                <tr>
                                    <th><strong>Medidas Aparentes | CM</strong></th>
                                    <th><strong>Izquierdo</strong></th>
                                    <th><strong>Derecho</strong></th>
                                </tr>
                            </thead>
    
                            <tbody>
                                <tr>
                                    <td>Miembro superior</td>
                                    <td>{{ osteo.apparent_upper_l }}</td>
                                    <td>{{ osteo.apparent_upper_r }}</td>
                                </tr>
                                <tr>
                                    <td>Miembro inferior</td>
                                    <td>{{ osteo.apparent_lower_l }}</td>
                                    <td>{{ osteo.apparent_lower_r }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="table-responsive">
                        <table class="table table-striped user_info_table">
                            <thead class="table-dark">
                                <tr>
                                    <th><strong>Trofismo muscular | CM</strong></th>
                                    <th><strong>Izquierdo</strong></th>
                                    <th><strong>Derecho</strong></th>
                                </tr>
                            </thead>
    
                            <tbody>
                                <tr>
                                    <td>Brazo</td>
                                    <td>{{ osteo.arm_l_mt }}</td>
                                    <td>{{ osteo.arm_r_mt }}</td>
                                </tr>
                                <tr>
                                    <td>Antebrazo</td>
                                    <td>{{ osteo.forearm_l_mt }}</td>
                                    <td>{{ osteo.forearm_r_mt }}</td>
                                </tr>
                                <tr>
                                    <td>Muslo</td>
                                    <td>{{ osteo.thigh_l_mt }}</td>
                                    <td>{{ osteo.thigh_r_mt }}</td>
                                </tr>
                                <tr>
                                    <td>Pierna</td>
                                    <td>{{ osteo.leg_l_mt }}</td>
                                    <td>{{ osteo.leg_r_mt }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div>
        <h3>Osteomuscular</h3>
        <iframe width="100%" height="1070" src="{% url 'users:report_osteo' user.id %}" frameborder="0" scrolling="no"></iframe>
    </div>
    
    <div>
        {% if fig_mobile %}
        <h3>Neuromuscular</h3>
        <hr>
    
        <div class="notes">
            <h6>Observaciones</h6>
    
            {% if neuro_observations %}
            <p class="ml-2">{{neuro_observations.observations}}</p>
            {% endif %}
        </div>
        <div class="graph_wrapper">
            <div class="loader">
                <span>Cargando Gráfico</span>
                <div class="lds-ripple"><div></div><div></div></div>
            </div>
            <div class="graph_inner">
                {{ fig_mobile|safe }}
            </div>
        </div>
        {% endif %}
    
        <hr>
    
        <h3>Déficit Bilateral</h3>
        <div class="notes">
            <h6>Observaciones</h6>
        
            {% if bilateral_observation %}
            <p class="ml-2">{{bilateral_observation.observation}}</p>
            {% endif %}
        </div>
        {% if graph_mobile %}
        <div class="mt-4" style="width: 400px;">
            <form action="{% url 'users:bilateral_detail' user.id %}" method="get">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group input-group-outline">
                            <input class="form-control mt-2" type="date" name="date" value="{% if date %}{{date|date:'Y-m-d'}}{% endif %}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group input-group-outline">
                            <button class="btn btn-secondary">Filtrar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <h4 class="mt-3">Fecha: {{ date|date:'j'}} de {{ date|date:'F'}} de {{ date|date:'Y'}}</h4>
        <div class="graph_wrapper">
            <div class="loader">
                <span>Cargando Gráfico</span>
                <div class="lds-ripple"><div></div><div></div></div>
            </div>
            <div class="graph_inner">
                {{ graph_mobile|safe }}
            </div>
        </div>
        {% endif %}
    </div>
    
    <hr>
    
    <div>
        <h3>Perfil F/V</h3>

        <h6>Observaciones</h6>
        {% if fv_observations %}
        <p class="ml-2">{{fv_observations.observation}}</p>
        {% endif %}

        {% if fv_graph_mobile %}
        <div class="graph_wrapper">
            <div class="loader">
                <span>Cargando Gráfico</span>
                <div class="lds-ripple"><div></div><div></div></div>
            </div>
            <div class="graph_inner">
                {{ fv_graph_mobile|safe }}
            </div>
    
        </div>
        {% endif %}
    </div> 
</div>


<div id="preview" style="position:absolute; left: -10000px;"></div>

{% if request.user.role == 'ADMIN' %}
<div class="row">
    <div class="col text-right">
        <a id="generate" class="generate btn btn-primary" href="#!"><i class="mr-2 material-icons">download</i>Descargar PDF</a>
    </div>
</div>
{% endif %}

{% endblock  %}

{% load static %}
{% block extrajs %}
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            const loading_report = document.querySelector('.loading_report_wrapper')
            window.html2canvas = html2canvas
            window.jsPDF = window.jspdf.jsPDF

            function generate(e) {
                e.preventDefault()
                loading_report.style.display = 'block'

                const options = {
                    orientation: 'p',
                    unit: 'cm',
                    format: 'letter'
                   }

                const sources = [...document.querySelectorAll(".source")]
                
                var doc = new jsPDF(options);
                doc.setFont('Arial')
                doc.getFontSize(11)
                
                const select_first = function(frame, el2, frame_inside){
                    if(frame.classList.contains('first')){
                        console.log('primero: ', frame )
                        return frame_inside;
                    } else {
                        console.log('primero: ', el2)
                        return el2;
                    }
                }

                const select_second = function(frame, el2, frame_inside){
                    if(frame.classList.contains('second')){
                        console.log('segundo: ', frame)
                        return frame_inside;
                    } else {
                        console.log('segundo: ', el2)
                        return el2;
                    }
                }

                console.log('sources.length', sources.length)
                
                let initial_counter = 0
                const html_canvas = function(initial_counter){
                    for(let i = initial_counter; i < sources.length; i++){
                        console.log('initial_counter', initial_counter)
                        iframe = sources[i].querySelector('.frame')

                        if(iframe){
                            console.log('inside iframe')

                            const report_inside = iframe.contentWindow.document.querySelector('.report_inside');
                            const iframe_sibling = sources[i].querySelector('.iframe_sibling');

                            const first = select_first(iframe, iframe_sibling, report_inside)
                            const second = select_second(iframe, iframe_sibling, report_inside)

                            console.log('primero y segundo: ', first, second)

                            html2canvas(first,{
                                letterRendering:true,
                                allowTaint: true,
                                useCORS: true,
                                scale: 1,
                                dpi: 144,
                            }).then(function(canvas){
                                console.log(canvas)
                                const canvas_result = document.querySelector('#preview').appendChild(canvas)
                                var image = canvas_result.toDataURL("image/png")
                                const canvas_ratio = canvas_result.height / canvas_result.width
                                const image_width = 20
                                const image_height = canvas_ratio * image_width

                                const header_img = "{% static 'img/pdf_header.jpg' %}"
                                doc.addImage(header_img, 'JPG', 0.5, 0.5, 20.5, 1.66)
                                doc.addImage(image, 'PNG', 0.5, 2.3, image_width, image_height)
                                
                                if(first){
                                    const canvas_html2 = html2canvas(second,{
                                        letterRendering:true,
                                        allowTaint: true,
                                        useCORS: true,
                                        scale: 1,
                                        dpi: 144,
                                    }).then(function(canvas2){
                                        console.log(canvas2)
                                        const canvas_result2 = document.querySelector('#preview').appendChild(canvas2)
                                        var image2 = canvas_result2.toDataURL("image/png")
                                        const canvas_ratio2 = canvas_result2.height / canvas_result2.width
                                        const image_width2 = 20
                                        const image_height2 = canvas_ratio2 * image_width2
        
                                        doc.addImage(image2, 'PNG', 0.5, image_height + 2.3, image_width2, image_height2)
    
                                        if(parseInt(i+1) < parseInt(sources.length)){
                                            doc.addPage("letter", "p");
                                            html_canvas(i+1)
                                        }
                                        if(i+1 == sources.length){
                                            const name = 'Dinametrics_reporte_' + '{{user.first_name}}_{{user.last_name}}' + '.pdf'
                                            doc.save(name);
                                            loading_report.style.display = 'none'
                                        }
                                    })
                                } else {
                                    if(parseInt(i+1) < parseInt(sources.length)){
                                        doc.addPage("letter", "p");
                                        html_canvas(i+1)
                                    }
                                    if(i+1 == sources.length){
                                        const name = 'Dinametrics_reporte_' + '{{user.first_name}}_{{user.last_name}}' + '.pdf'
                                        doc.save(name);
                                        loading_report.style.display = 'none'
                                    }
                                }

                            })
                        } else {
                            console.log('outside iframe', sources[i])
                            try{
                                html2canvas(sources[i],{
                                    letterRendering:true,
                                    allowTaint: true,
                                    useCORS: true,
                                    scale: 1,
                                    dpi: 144,
                                }).then(function(canvas){
                                    console.log('inside then')
                                    console.log(canvas)
                                    const canvas_result = document.querySelector('#preview').appendChild(canvas)
        
                                    var image = canvas_result.toDataURL("image/png")
                                    const canvas_ratio = canvas_result.height / canvas_result.width
                                    const image_width = 20
                                    const image_height = canvas_ratio * image_width
                                    
                                    const header_img = "{% static 'img/pdf_header.jpg' %}"
                                    doc.addImage(header_img, 'JPG', 0.5, 0.5, 20.5, 1.66)
                                    doc.addImage(image, 'PNG', 0.5, 2.3, image_width, image_height)
                                    
                                    if(parseInt(i+1) < parseInt(sources.length)){
                                        doc.addPage("letter", "p");
                                        html_canvas(i+1)
                                    }
        
                                    if(i+1 == sources.length){
                                        const name = 'Dinametrics_reporte_' + '{{user.first_name}}_{{user.last_name}}' + '.pdf'
                                        doc.save(name);
                                        loading_report.style.display = 'none'
                                    }
                                })
                            } catch(error){console.log(error)}
                        }

                        break;
                    }
                }

                html_canvas(initial_counter)

            }
            
            const generateBtns = [...document.querySelectorAll('.generate')]
            generateBtns.forEach(function(generateBtn){
                generateBtn.addEventListener('click', function(e){
                    generate(e)
                })
            })
        })
    </script>
{% endblock %}


